<?xml version="1.0" encoding="utf-8"?>
<settings>
    <topic label="General" icon="general">
        <field label="Logo type" name="logo_type" default="image" type="radio" desc="Do You want to use an Image or Text as Your Logo (Text may be styled with Google Webfonts)?">
            <option value="image">Image</option>
            <option value="text">Text</option>
        </field>
        <field label="Font for logo" name="logo_font" default="Arial" type="font" desc="Choose a font for Your logo." />
        <field label="Chose your range" name="range" default="Arial" type="range" desc="Some range." min="0" max="20" unit="px" step="1" />
        <field label="Chose your color" name="colorpicker" default="#000000" type="colorpicker" desc="Some color." />
        <field label="Lorem Ipsum" name="lorem" default="Arial" type="textarea" desc="Type in some lorem ipsum." />
        <field label="Logo type" name="logo_bla" default="image" type="select" desc="Do You want to use an Image or Text as Your Logo (Text may be styled with Google Webfonts)?">
            <option value="image">Image</option>
            <option value="text">Text</option>
        </field>
    </topic>
    <topic label="Style" icon="style">
        <field label="Logo type" name="logo_type2" default="image" type="radio" desc="Do You want to use an Image or Text as Your Logo (Text may be styled with Google Webfonts)?">
            <option value="image">Image</option>
            <option value="text">Text</option>
        </field>
        <field label="Font for logo" name="rofl" default="Arial" type="font" desc="Choose a font for Your logo." />
        <field label="upload it." name="uploooad" default="" type="file" desc="Upload something." />
    </topic>
</settings>