@import 'mixins';

$orange: #ea793d;
$blue: #46b9d6;
$green: #44bea7;
$dark-nuance: #3f3f41;
$grey-nuance: #474751;
$border-grey: #eee;

$header-height: 65px;
$nav-width: 170px;
$content-width: 790px;
$content-inner-width: $content-width - 50px;
$field-setting-width: $content-inner-width / 2 - 50px;
$field-details-width: $content-inner-width / 2;
$full-width: $nav-width + $content-width;
$footer-height: 100px;





/* ==========================================================================
   Global Inferno styles
   ========================================================================== */

#inferno-canvas,
#inferno-generator,
.inferno-meta-box {

    * {
        @include box-sizing(border-box);
    }
    
    .button,
    .button-reset,
    .button-primary,
    .button-upload {
        @include transition-duration(0.3s);
        @include box-shadow(none);
        height: 28px;
        padding-left: 15px;
        padding-right: 15px;
        line-height: 22px;
        border: 3px $blue solid;
        outline: none;
        background: $blue;
        color: #fff;

        &:hover {
            background: #fff;
            color: $blue;
        }
    }

    .button-primary {
        background: $green;
        border-color: $green;

        &:hover {
            color: $green;
        }
    }

    .button-reset {
        background: $dark-nuance;
        border-color: $dark-nuance;

        &:hover {
            color: $dark-nuance;
        }
    }
}



/* ==========================================================================
   Inferno Canvas
   ========================================================================== */

#inferno-canvas, 
#inferno-canvas * {
    @include box-sizing(border-box);

    .clearfix {
        clear: both;
    }
}

#inferno-canvas {
    @include transition-duration(1s);
    @include border-radius(4px);
    position: relative;
    width: $full-width;
    margin: 25px 0;
    float: left;
    background: #fff;
    opacity: 0;
    overflow: hidden;

    &.show {
        opacity: 1;
    }

    /* Header
       ========================================================================== */

    .inferno-header {
        width: 100%;
        height: $header-height;
        background: $dark-nuance;

        .inferno-brand {
            position: relative;
            float: left;
            width: $nav-width;
            height: $header-height;
            margin: 0;
            line-height: $header-height;
            font-size: 18px;
            background: $orange;
            text-transform: uppercase;
            text-align: center;
            color: #fff;

            span {
                position: absolute;
                display: block;
                width: 100%;
                height: 12px;
                left: 0;
                bottom: 6px;
                font-size: 12px;
                font-weight: 100;
                color: #fff;
                line-height: 12px;
                opacity: 0.5;
            }
        }

        p.inferno-info {
            float: left;
            margin: 0 25px;
            width: $content-width - 50;
            font-size: 13px;
            line-height: $header-height;
            color: #9f9f9f;
        }
    }


    /* Navigation
       ========================================================================== */

    .inferno-menu {
        width: $nav-width;
        float: left;
        background: $grey-nuance;
        text-transform: uppercase;

        li {
            width: $nav-width;
            height: 35px;
            margin-bottom: 0;

            &.ui-state-active {

                a {
                    color: $orange;
                    border-left: 2px $blue solid;
                }

                i {
                    color: $blue;
                }
            }
        }

        a {
            @include transition-duration(0.3s);
            display: block;
            padding-left: 15px;
            text-decoration: none;
            color: #aaa;
            line-height: 35px;
            font-weight: 500;
            outline: none;

            i {
                @include transition-duration(0.3s);
                display: inline-block;
                width: 40px;
            }

            span {
                display: inline-block;
            }

            &:hover {
                color: #f9f9f9;
            }
        }

        button.advanced-mode {
            display: block;
            height: 46px;
            width: 100%;
            margin: 0 0 25px 0;
            padding: 0;
            font-weight: 500;
            color: #aaa;
            border: none;
            text-transform: uppercase;
            background: #5c5c66;
            outline: none;
            cursor: pointer;

            span {
                display: block;
                float: left;
                width: 46px;
                height: 46px;
                background: $dark-nuance;
                color: $grey-nuance;

                i {
                    @include transition-duration(0.5s);
                    font-size: 20px;
                    line-height: 46px;
                    text-align: center;
                    color: #5c5c66;

                    &.fa-spin {
                        color: $orange;
                    }
                }
            }

            p {
                display: block;
                float: left;
                width: 124px;
                height: 46px;
                margin: 0;
                text-align: center;
                line-height: 46px;
            }
        }
    }


    /* Content with Tabs and Options
       ========================================================================== */

    .inferno-content {
        width: $content-width;
        float: left;
        color: #565656;
    }

    .inferno-settings {
        padding: 25px;
    }

    .inferno-footer {
        width: $content-width;
        height: $footer-height;
        float: left;
        padding: 25px;
        background: #fff;
        border-top: 2px $border-grey solid;

        .button-primary, 
        .button-reset {
            float: right;
            margin-left: 20px;
        }

        span {
            display: block;
            float: right;
            height: 28px;
            line-height: 28px;
            color: red;
            text-align: right;

            a {
                color: red;
                text-decoration: underline;
                font-weight: 900;
            }
        }
    }



    /* Messages
       ========================================================================== */

    .inferno-message {
        @include border-radius(5px);
        position: fixed;
        left: 50%;
        top: 50%;
        margin: -75px 0 0 -75px;
        width: 150px;
        height: 150px;
        padding: 30px 10px;
        display: none;

        background: url(../img/dark-trans-bg.png);
        font-size: 0px;
        text-align: center;

        i {
            font-weight: 900;
            color: #037c11;
        }

        p {
            color: #ccc;
            font-weight: 900;
            line-height: 150%;
        }
    }
}


/* ==========================================================================
   Inferno Shortcode Generator
   ========================================================================== */

#inferno-generator {
    padding: 30px 20px;

    .shortcode-settings {
        margin-bottom: 20px;
    }
}


/* ==========================================================================
   Options Machine
   ========================================================================== */

#inferno-canvas,
#inferno-generator,
.inferno-meta-box {

    /* Fields
       ========================================================================== */

    .field {
        padding-bottom: 15px;
        margin-bottom: 30px;
        border-bottom: 1px $border-grey solid;
    }

    .field-title {
        text-transform: uppercase;
    }

    .field-setting {
        float: left;
        width: $field-setting-width;
        margin-right: 50px;

        .googlefont-setting {
            padding-top: 20px;
        }
    }

    .field-details {
        float: left;
        width: $field-details-width;

        .more {
            font-size: 11px;
            color: #777;
            font-family: georgia, serif;
            font-style: italic;
            margin-top: 10px;
            display: block;
        }

        .googlefont-desc {
            padding-top: 20px;
        }
    }



    /* Text
       ========================================================================== */

    input, textarea {
        outline: none;
    }

    input[type=text], textarea, select {
        @include transition-duration(0.3s);
        @include border-radius(4px);
        @include box-shadow(none);
        display: block;
        padding: 8px 6px 6px;
        width: 100%;
        max-width: 100%;
        text-align: left;
        border: 3px $border-grey solid;
        color: #333;
        background: transparent;

        &:focus {
            @include box-shadow(none);
            border-color: $blue;
        }
    }

    textarea {
        height: 130px;
    }

    select {
        width: 100%;
    }

    input[type=file] {
        margin-top: 7px;
    }


    /* Select
       ========================================================================== */

    .select {
        position: relative;

        select.inferno-setting {
            @include appearance(none);
            position: relative;
            height: 39px;
            line-height: 1;
            font-size: 14px;
            cursor: pointer;
        }

        &:before {
            position: absolute;
            right: 10px;
            top: 1px;
            display: block;
            width: 15px;
            height: 39px;
            line-height: 39px;
            font-family: FontAwesome;
            content: "\f0d7";
            font-size: 18px;
        }
    }

    /* Radio
       ========================================================================== */

    .radio {
        .ui-button {
            border: 3px $border-grey solid;
            margin-right: -3px;
            padding: 7px 11px 6px;
            display: block;
            float: left;
            font-size: 12px;
            font-weight: 900;
        }

        .ui-corner-left {
            @include border-radius(4px 0 0 4px);
        }

        .ui-corner-right {
            @include border-radius(0 4px 4px 0);
        }

        .ui-state-active {
            margin-left: 3px;
            margin-right: 0;
            border-color: $green;
            background: $green;
            color: #fff;
        }

        .ui-helper-hidden-accessible {
            position: absolute;
            display: none;
        }
    }

    
    /* Checkbox
       ========================================================================== */

    .checkbox {
        .ui-button {
            @include transition-duration(0.3s);
            @include border-radius(14px);
            position: relative;
            display: inline-block;
            height: 28px;
            padding: 0 15px 0 30px;
            border: 3px $orange solid;
            background: $orange;
            line-height: 22px;
            color: #fff;
            text-transform: uppercase;

            &:before {
                @include border-radius(100%);
                position: absolute;
                left: 2px;
                top: 2px;
                display: block;
                width: 18px;
                height: 18px;
                content: "";
                background: #ddd;
            }

            &:hover {
                background: #fff;
                color: $orange;
            }
        }

        .ui-state-active {
            padding: 0 30px 0 15px;
            border: 3px $green solid;
            background: $green;

            &:before {
                left: auto;
                right: 2px;
                top: 2px;
            }

            &:hover {
                color: $green;
            }
        }
    }



    /* Media (images)
       ========================================================================== */

    .media {
        img {
            margin-top: 10px;
            max-width: 100%;
            border: 5px $border-grey solid;
        }
    }


    /* Colorpicker
       ========================================================================== */

    .color-picker input[type=text] {
        width: 80%;
        float: left;
    }

    .colorSelector {
        float: right;
    }


    /* Range
       ========================================================================== */

    .range {
        @include border-radius(6px);
        background: $border-grey;
        overflow: hidden;

        .inferno-setting {
            @include transition-duration(0.3s);
            @include border-radius(0);
            width: 100px;
            height: 28px;
            margin: 0;
            padding: 0;
            float: left;
            background: $blue;
            border: 3px $blue solid;
            text-align: center;
            line-height: 23px;
            color: #fff;

            &:focus {
                background: #fff;
                color: $blue;
            }
        }
    }

    .range-slider {
        @include border-radius(6px);
        position: relative;
        float: left;
        width: $field-setting-width - 130px;
        height: 5px;
        margin: 12px;
        border: 1px $border-grey solid;
        background: #fff;

        a {
            @include border-radius(100%);
            position: absolute;
            top: -4px;
            width: 11px;
            height: 11px;
            margin: 0 0 0 -5px;
            background: #5c5c66;
            outline: none;
        }
    }


    /* Image Picker
       ========================================================================== */

    .imagepicker {
        .thumbnail {
            max-width: 100%;

            img {
                max-width: 100%;
                display: block;
            }
        }
    }

    ul.thumbnails.image_picker_selector li .thumbnail {
        padding: 4px;
    }

    ul.thumbnails.image_picker_selector li .thumbnail.selected {
        background: $dark-nuance;
    }



    /* Font
       ========================================================================== */

    .font {
        select {
            margin-bottom: 10px;
        }
    }

    .googlefont-canvas {
        padding: 10px;
        border: 4px $border-grey solid;
        margin-top: 15px;
        font-size: 15px;
        font-family: auto;
    }




    /* Transfer (import / export)
       ========================================================================== */

    .transfer {
        .inferno-setting {
            margin-bottom: 10px;
        }

        span {
            color: red;

            a {
                color: red;
                text-decoration: underline;
                font-weight: 900;
            }
        }
    }
}


