@import 'mixins';

$orange: #ea793d;
$blue: #46b9d6;
$green: #44bea7;
$dark-nuance: #3f3f41;
$grey-nuance: #474751;

$header-height: 65px;
$nav-width: 150px;
$content-width: 750px;





/* ==========================================================================
   Global Inferno styles
   ========================================================================== */

#inferno-canvas,
#inferno-generator,
.inferno-meta-box {

    * {
        @include box-sizing(border-box);
    }

    .button.button-reset {
        color: #ef4040;
    }
}



/* ==========================================================================
   Inferno Canvas
   ========================================================================== */

#inferno-canvas, 
#inferno-canvas * {
    @include box-sizing(border-box);

    .clearfix {
        clear: both;
    }
}

#inferno-canvas {
    position: relative;
    width: 900px;
    margin: 25px 0;

    /* Header
       ========================================================================== */

    .inferno-header {
        width: 100%;
        height: $header-height;
        background: $dark-nuance;

        .inferno-brand {
            float: left;
            width: $nav-width;
            height: $header-height;
            margin: 0;
            line-height: $header-height;
            font-size: 18px;
            background: $orange;
            text-transform: uppercase;
            text-align: center;
            color: #fff;
        }

        p.inferno-version {
            float: left;
            margin: 0 25px;
            width: $content-width - 50;
            font-size: 13px;
            line-height: $header-height;
            color: #9f9f9f;
        }
    }


    /* Navigation
       ========================================================================== */

    .menu {
        width: $nav-width;
        float: left;
        background: $grey-nuance;
        text-transform: uppercase;

        li {
            width: $nav-width;
            height: 35px;
            margin-bottom: 0;

            &.ui-state-active {

                a {
                    color: $orange;
                    border-left: 2px $blue solid;
                }

                i {
                    color: $orange;
                }
            }
        }

        a {
            @include transition-duration(0.3s);
            display: block;
            padding-left: 15px;
            text-decoration: none;
            color: #aaa;
            line-height: 35px;
            font-weight: 500;
            outline: none;

            i {
                display: inline-block;
                width: 40px;
            }

            span {
                display: inline-block;
            }

            &:hover {
                color: #f9f9f9;
            }
        }

        button.advanced-mode {
            display: block;
            height: 46px;
            width: 100%;
            margin: 0 0 25px 0;
            padding: 0;
            font-weight: 500;
            color: #aaa;
            border: none;
            text-transform: uppercase;
            background: #5c5c66;
            outline: none;
            cursor: pointer;

            span {
                display: block;
                float: left;
                width: 46px;
                height: 46px;
                background: $dark-nuance;
                color: $grey-nuance;

                i {
                    @include transition-duration(0.5s);
                    font-size: 20px;
                    line-height: 46px;
                    text-align: center;
                    color: #5c5c66;

                    &.fa-spin {
                        color: $orange;
                    }
                }
            }

            p {
                display: block;
                float: left;
                width: 104px;
                height: 46px;
                margin: 0;
                text-align: center;
                line-height: 46px;
            }
        }
    }



    /* Footer
       ========================================================================== */

    .footer {
        @include gradient(#555, #333);

        height: 44px;
        padding: 10px 20px;
        line-height: 24px;

        a {
            color: #fff;
        }

        .button-primary {
            float: right;
        }
    }



    /* Messages
       ========================================================================== */

    .inferno-message {
        @include border-radius(5px);
        position: fixed;
        left: 50%;
        top: 50%;
        margin: -75px 0 0 -75px;
        width: 150px;
        height: 150px;
        padding: 30px 10px;
        display: none;

        background: url(../img/dark-trans-bg.png);
        font-size: 0px;
        text-align: center;

        i {
            font-weight: 900;
            color: #037c11;
        }

        p {
            color: #ccc;
            font-weight: 900;
            line-height: 150%;
        }
    }



    /* Content with Tabs and Options
       ========================================================================== */

    .content {
        width: $content-width;
        padding: 25px;
        float: left;
        color: #565656;
        background: #fff;
    }
}


/* ==========================================================================
   Inferno Shortcode Generator
   ========================================================================== */

#inferno-generator {
    padding: 30px 20px;

    .shortcode-settings {
        margin-bottom: 20px;
    }
}


/* ==========================================================================
   Options Machine
   ========================================================================== */

#inferno-canvas,
#inferno-generator,
.inferno-meta-box {

    /* Fields
       ========================================================================== */

    .field {
        padding-bottom: 15px;
        margin-bottom: 30px;
        border-bottom: 1px #eee solid;
    }

    .field-setting {
        float: left;
        width: 50%;
        padding-right: 30px;

        .googlefont-setting {
            padding-top: 20px;
        }
    }

    .field-details {
        float: left;
        width: 50%;

        .more {
            font-size: 11px;
            color: #777;
            font-family: georgia, serif;
            font-style: italic;
            margin-top: 10px;
            display: block;
        }

        .googlefont-desc {
            padding-top: 20px;
        }
    }



    /* Text
       ========================================================================== */

    input, textarea {
        outline: none;
    }

    input[type=text], textarea {
        @include gradient(#eee, #fff);
        @include box-shadow(1px, 1px, 2px, 0, #e6e6e6, inset);
        padding: 8px 6px 6px;
        width: 100%;
        max-width: 100%;
        text-align: left !important;
    }

    textarea {
        height: 130px;
    }

    select {
        width: 100%;
    }

    input[type=file] {
        margin-top: 7px;
    }

    /* Radio
       ========================================================================== */

    .radio {
        .ui-button {
            @include gradient(#fff, #eee);
            @include text-shadow(1px, 1px, 1px, #fff);

            border: 1px #DFDFDF solid;
            margin-right: -1px;
            padding: 7px 11px 6px;
            display: block;
            float: left;
            font-size: 12px;
            font-weight: 900;

            &:hover {
                @include gradient(#eee, #fff);
            }
        }

        .ui-corner-left {
            @include border-radius(0 0 4px 4px);
        }

        .ui-corner-right {
            @include border-radius(4px 4px 0 0);
        }

        .ui-state-active {
            @include box-shadow(1px, 1px, 3px, 0, #d9d9d9, inset);
            color: #999;

            &:hover {
                @include gradient(#eee, #fff);
            }
        }

        .ui-helper-hidden-accessible {
            position: absolute;
            display: none;
        }
    }



    /* Media (images)
       ========================================================================== */

    .media {
        img {
            margin-top: 10px;
            max-width: 100%;
            border: 5px #eee solid;
        }
    }


    /* Colorpicker
       ========================================================================== */

    .color-picker input[type=text] {
        width: 80%;
        float: left;
    }

    .colorSelector {
        float: right;
    }


    /* Range
       ========================================================================== */

    .range {
        .inferno-setting {
            margin-bottom: 10px;
        }
    }

    .range-slider {
        @include border-radius(6px);
        @include box-shadow(1px, 1px, 1px, 0, #c6c5c5, inset);

        position: relative;
        height: 6px;
        border: 1px #eee solid;

        a {
            @include gradient(#eee, #fff);
            @include box-shadow(0px, 1px, 3px, 0, #9e9e9e, inset);
            @include border-radius(100%);

            position: absolute;
            top: -3px;
            width: 12px;
            height: 12px;

            outline: none;
        }
    }


    /* Image Picker
       ========================================================================== */

    .imagepicker {
        .thumbnail {
            max-width: 100%;

            img {
                max-width: 100%;
                display: block;
            }
        }
    }

    ul.thumbnails.image_picker_selector li .thumbnail {
        padding: 4px;
    }

    ul.thumbnails.image_picker_selector li .thumbnail.selected {
        background: $dark-nuance;
    }



    /* Font
       ========================================================================== */

    .font {
        select {
            margin-bottom: 10px;
        }
    }

    .googlefont-canvas {
        padding: 10px;
        border: 4px #eee solid;
        margin-top: 15px;
        font-size: 15px;
        font-family: auto;
    }
}


