/* ==========================================================================
   Global Inferno styles
   ========================================================================== */
#inferno-canvas *,
#inferno-generator *,
.inferno-meta-box * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box; }
#inferno-canvas .button.button-reset,
#inferno-generator .button.button-reset,
.inferno-meta-box .button.button-reset {
  color: #ef4040; }

/* ==========================================================================
   Inferno Canvas
   ========================================================================== */
#inferno-canvas,
#inferno-canvas * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box; }
  #inferno-canvas .clearfix,
  #inferno-canvas * .clearfix {
    clear: both; }

#inferno-canvas {
  position: relative;
  width: 886px;
  margin: 25px 0;
  border: 5px #eee solid;
  background: #eaeaea url(../img/bg.png);
  /* Header
     ========================================================================== */
  /* Navigation
     ========================================================================== */
  /* Footer
     ========================================================================== */
  /* Messages
     ========================================================================== */
  /* Content with Tabs and Options
     ========================================================================== */ }
  #inferno-canvas .header {
    width: 100%;
    height: 131px;
    background: white url(../img/loading.gif) no-repeat center center; }
  #inferno-canvas .bar {
    background: #555555;
    background: -moz-linear-gradient(top, #555555 0%, #333333 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #333333));
    background: -webkit-linear-gradient(top, #555555 0%, #333333 100%);
    background: -o-linear-gradient(top, #555555 0%, #333333 100%);
    background: -ms-linear-gradient(top, #555555 0%, #333333 100%);
    background: linear-gradient(to bottom, #555555 0%, #333333 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-top', endColorstr='$color-bottom',GradientType=0 );
    color: #ddd;
    font-size: 12px;
    line-height: 22px;
    height: 35px;
    padding: 0 25px;
    border-bottom: 5px #eee solid;
    line-height: 30px; }
    #inferno-canvas .bar .version, #inferno-canvas .bar .branding {
      height: 30px;
      float: left; }
    #inferno-canvas .bar .branding {
      float: right; }
    #inferno-canvas .bar .icon-fire, #inferno-canvas .bar .icon-road {
      margin-right: 6px; }
    #inferno-canvas .bar a {
      color: #fff;
      text-decoration: none; }
      #inferno-canvas .bar a:hover {
        text-decoration: underline; }
  #inferno-canvas .menu {
    width: 140px;
    float: left; }
    #inferno-canvas .menu li {
      width: 140px;
      height: 35px;
      margin-bottom: 0; }
      #inferno-canvas .menu li.ui-state-active {
        background: #555555;
        background: -moz-linear-gradient(top, #555555 0%, #333333 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #333333));
        background: -webkit-linear-gradient(top, #555555 0%, #333333 100%);
        background: -o-linear-gradient(top, #555555 0%, #333333 100%);
        background: -ms-linear-gradient(top, #555555 0%, #333333 100%);
        background: linear-gradient(to bottom, #555555 0%, #333333 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-top', endColorstr='$color-bottom',GradientType=0 ); }
        #inferno-canvas .menu li.ui-state-active a {
          text-shadow: 1px 1px 1px black;
          -webkit-text-shadow: 1px 1px 1px black;
          -khtml-text-shadow: 1px 1px 1px black;
          -ms-text-shadow: 1px 1px 1px black;
          -o-text-shadow: 1px 1px 1px black;
          color: #fff; }
        #inferno-canvas .menu li.ui-state-active div {
          color: #f05b23; }
    #inferno-canvas .menu a {
      text-shadow: 1px 1px 1px white;
      -webkit-text-shadow: 1px 1px 1px white;
      -khtml-text-shadow: 1px 1px 1px white;
      -ms-text-shadow: 1px 1px 1px white;
      -o-text-shadow: 1px 1px 1px white;
      display: block;
      padding-left: 15px;
      text-decoration: none;
      color: #444;
      line-height: 35px;
      font-weight: 500;
      outline: none; }
      #inferno-canvas .menu a div {
        display: inline-block;
        margin-right: 10px; }
      #inferno-canvas .menu a span {
        display: inline-block; }
  #inferno-canvas .footer {
    background: #555555;
    background: -moz-linear-gradient(top, #555555 0%, #333333 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #333333));
    background: -webkit-linear-gradient(top, #555555 0%, #333333 100%);
    background: -o-linear-gradient(top, #555555 0%, #333333 100%);
    background: -ms-linear-gradient(top, #555555 0%, #333333 100%);
    background: linear-gradient(to bottom, #555555 0%, #333333 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-top', endColorstr='$color-bottom',GradientType=0 );
    color: #ddd;
    font-size: 12px;
    line-height: 22px;
    height: 44px;
    padding: 10px 20px;
    line-height: 24px; }
    #inferno-canvas .footer a {
      color: #fff; }
    #inferno-canvas .footer .button-primary {
      float: right; }
  #inferno-canvas .inferno-message {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -75px;
    width: 150px;
    height: 150px;
    padding: 30px 10px;
    display: none;
    background: url(../img/dark-trans-bg.png);
    font-size: 0px;
    text-align: center; }
    #inferno-canvas .inferno-message i {
      font-weight: 900;
      color: #037c11; }
    #inferno-canvas .inferno-message p {
      color: #ccc;
      font-weight: 900;
      line-height: 150%; }
  #inferno-canvas .content {
    width: 736px;
    padding: 25px;
    float: left;
    color: #565656;
    background: #fff; }

/* ==========================================================================
   Inferno Shortcode Generator
   ========================================================================== */
#inferno-generator {
  padding: 30px 20px; }
  #inferno-generator .shortcode-settings {
    margin-bottom: 20px; }

/* ==========================================================================
   Options Machine
   ========================================================================== */
#inferno-canvas,
#inferno-generator,
.inferno-meta-box {
  /* Fields
     ========================================================================== */
  /* Text
     ========================================================================== */
  /* Radio
     ========================================================================== */
  /* Media (images)
     ========================================================================== */
  /* Colorpicker
     ========================================================================== */
  /* Range
     ========================================================================== */
  /* Image Picker
     ========================================================================== */
  /* Font
     ========================================================================== */ }
  #inferno-canvas .field,
  #inferno-generator .field,
  .inferno-meta-box .field {
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 1px #eee solid; }
  #inferno-canvas .field-setting,
  #inferno-generator .field-setting,
  .inferno-meta-box .field-setting {
    float: left;
    width: 50%;
    padding-right: 30px; }
    #inferno-canvas .field-setting .googlefont-setting,
    #inferno-generator .field-setting .googlefont-setting,
    .inferno-meta-box .field-setting .googlefont-setting {
      padding-top: 20px; }
  #inferno-canvas .field-details,
  #inferno-generator .field-details,
  .inferno-meta-box .field-details {
    float: left;
    width: 50%; }
    #inferno-canvas .field-details .more,
    #inferno-generator .field-details .more,
    .inferno-meta-box .field-details .more {
      font-size: 11px;
      color: #777;
      font-family: georgia, serif;
      font-style: italic;
      margin-top: 10px;
      display: block; }
    #inferno-canvas .field-details .googlefont-desc,
    #inferno-generator .field-details .googlefont-desc,
    .inferno-meta-box .field-details .googlefont-desc {
      padding-top: 20px; }
  #inferno-canvas input, #inferno-canvas textarea,
  #inferno-generator input,
  #inferno-generator textarea,
  .inferno-meta-box input,
  .inferno-meta-box textarea {
    outline: none; }
  #inferno-canvas input[type=text], #inferno-canvas textarea,
  #inferno-generator input[type=text],
  #inferno-generator textarea,
  .inferno-meta-box input[type=text],
  .inferno-meta-box textarea {
    background: #eeeeee;
    background: -moz-linear-gradient(top, #eeeeee 0%, white 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, white));
    background: -webkit-linear-gradient(top, #eeeeee 0%, white 100%);
    background: -o-linear-gradient(top, #eeeeee 0%, white 100%);
    background: -ms-linear-gradient(top, #eeeeee 0%, white 100%);
    background: linear-gradient(to bottom, #eeeeee 0%, white 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-top', endColorstr='$color-bottom',GradientType=0 );
    box-shadow: 1px 1px 2px 0 #e6e6e6 inset;
    -webkit-box-shadow: 1px 1px 2px 0 #e6e6e6 inset;
    -khtml-box-shadow: 1px 1px 2px 0 #e6e6e6 inset;
    -ms-box-shadow: 1px 1px 2px 0 #e6e6e6 inset;
    -o-box-shadow: 1px 1px 2px 0 #e6e6e6 inset;
    padding: 8px 6px 6px;
    width: 100%;
    max-width: 100%;
    text-align: left !important; }
  #inferno-canvas textarea,
  #inferno-generator textarea,
  .inferno-meta-box textarea {
    height: 130px; }
  #inferno-canvas select,
  #inferno-generator select,
  .inferno-meta-box select {
    width: 100%; }
  #inferno-canvas input[type=file],
  #inferno-generator input[type=file],
  .inferno-meta-box input[type=file] {
    margin-top: 7px; }
  #inferno-canvas .radio .ui-button,
  #inferno-generator .radio .ui-button,
  .inferno-meta-box .radio .ui-button {
    background: white;
    background: -moz-linear-gradient(top, white 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(top, white 0%, #eeeeee 100%);
    background: -o-linear-gradient(top, white 0%, #eeeeee 100%);
    background: -ms-linear-gradient(top, white 0%, #eeeeee 100%);
    background: linear-gradient(to bottom, white 0%, #eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-top', endColorstr='$color-bottom',GradientType=0 );
    text-shadow: 1px 1px 1px white;
    -webkit-text-shadow: 1px 1px 1px white;
    -khtml-text-shadow: 1px 1px 1px white;
    -ms-text-shadow: 1px 1px 1px white;
    -o-text-shadow: 1px 1px 1px white;
    border: 1px #DFDFDF solid;
    margin-right: -1px;
    padding: 7px 11px 6px;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: 900; }
    #inferno-canvas .radio .ui-button:hover,
    #inferno-generator .radio .ui-button:hover,
    .inferno-meta-box .radio .ui-button:hover {
      background: #eeeeee;
      background: -moz-linear-gradient(top, #eeeeee 0%, white 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, white));
      background: -webkit-linear-gradient(top, #eeeeee 0%, white 100%);
      background: -o-linear-gradient(top, #eeeeee 0%, white 100%);
      background: -ms-linear-gradient(top, #eeeeee 0%, white 100%);
      background: linear-gradient(to bottom, #eeeeee 0%, white 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-top', endColorstr='$color-bottom',GradientType=0 ); }
  #inferno-canvas .radio .ui-corner-left,
  #inferno-generator .radio .ui-corner-left,
  .inferno-meta-box .radio .ui-corner-left {
    border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -khtml-border-top-left-radius: 4px;
    -ms-border-top-left-radius: 4px;
    -o-border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -khtml-border-bottom-left-radius: 4px;
    -ms-border-bottom-left-radius: 4px;
    -o-border-bottom-left-radius: 4px; }
  #inferno-canvas .radio .ui-corner-right,
  #inferno-generator .radio .ui-corner-right,
  .inferno-meta-box .radio .ui-corner-right {
    border-top-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -khtml-border-top-right-radius: 4px;
    -ms-border-top-right-radius: 4px;
    -o-border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -khtml-border-bottom-right-radius: 4px;
    -ms-border-bottom-right-radius: 4px;
    -o-border-bottom-right-radius: 4px; }
  #inferno-canvas .radio .ui-state-active,
  #inferno-generator .radio .ui-state-active,
  .inferno-meta-box .radio .ui-state-active {
    box-shadow: 1px 1px 3px 0 #d9d9d9 inset;
    -webkit-box-shadow: 1px 1px 3px 0 #d9d9d9 inset;
    -khtml-box-shadow: 1px 1px 3px 0 #d9d9d9 inset;
    -ms-box-shadow: 1px 1px 3px 0 #d9d9d9 inset;
    -o-box-shadow: 1px 1px 3px 0 #d9d9d9 inset;
    color: #999; }
    #inferno-canvas .radio .ui-state-active:hover,
    #inferno-generator .radio .ui-state-active:hover,
    .inferno-meta-box .radio .ui-state-active:hover {
      background: #eeeeee;
      background: -moz-linear-gradient(top, #eeeeee 0%, white 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, white));
      background: -webkit-linear-gradient(top, #eeeeee 0%, white 100%);
      background: -o-linear-gradient(top, #eeeeee 0%, white 100%);
      background: -ms-linear-gradient(top, #eeeeee 0%, white 100%);
      background: linear-gradient(to bottom, #eeeeee 0%, white 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-top', endColorstr='$color-bottom',GradientType=0 ); }
  #inferno-canvas .radio .ui-helper-hidden-accessible,
  #inferno-generator .radio .ui-helper-hidden-accessible,
  .inferno-meta-box .radio .ui-helper-hidden-accessible {
    position: absolute;
    display: none; }
  #inferno-canvas .media img,
  #inferno-generator .media img,
  .inferno-meta-box .media img {
    margin-top: 10px;
    max-width: 100%;
    border: 5px #eee solid; }
  #inferno-canvas .color-picker input[type=text],
  #inferno-generator .color-picker input[type=text],
  .inferno-meta-box .color-picker input[type=text] {
    width: 80%;
    float: left; }
  #inferno-canvas .colorSelector,
  #inferno-generator .colorSelector,
  .inferno-meta-box .colorSelector {
    float: right; }
  #inferno-canvas .range .inferno-setting,
  #inferno-generator .range .inferno-setting,
  .inferno-meta-box .range .inferno-setting {
    margin-bottom: 10px; }
  #inferno-canvas .range-slider,
  #inferno-generator .range-slider,
  .inferno-meta-box .range-slider {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    box-shadow: 1px 1px 1px 0 #c6c5c5 inset;
    -webkit-box-shadow: 1px 1px 1px 0 #c6c5c5 inset;
    -khtml-box-shadow: 1px 1px 1px 0 #c6c5c5 inset;
    -ms-box-shadow: 1px 1px 1px 0 #c6c5c5 inset;
    -o-box-shadow: 1px 1px 1px 0 #c6c5c5 inset;
    position: relative;
    height: 6px;
    border: 1px #eee solid; }
    #inferno-canvas .range-slider a,
    #inferno-generator .range-slider a,
    .inferno-meta-box .range-slider a {
      background: #eeeeee;
      background: -moz-linear-gradient(top, #eeeeee 0%, white 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, white));
      background: -webkit-linear-gradient(top, #eeeeee 0%, white 100%);
      background: -o-linear-gradient(top, #eeeeee 0%, white 100%);
      background: -ms-linear-gradient(top, #eeeeee 0%, white 100%);
      background: linear-gradient(to bottom, #eeeeee 0%, white 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-top', endColorstr='$color-bottom',GradientType=0 );
      box-shadow: 0px 1px 3px 0 #9e9e9e inset;
      -webkit-box-shadow: 0px 1px 3px 0 #9e9e9e inset;
      -khtml-box-shadow: 0px 1px 3px 0 #9e9e9e inset;
      -ms-box-shadow: 0px 1px 3px 0 #9e9e9e inset;
      -o-box-shadow: 0px 1px 3px 0 #9e9e9e inset;
      border-radius: 100%;
      -webkit-border-radius: 100%;
      -khtml-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
      position: absolute;
      top: -3px;
      width: 12px;
      height: 12px;
      outline: none; }
  #inferno-canvas .imagepicker .thumbnail,
  #inferno-generator .imagepicker .thumbnail,
  .inferno-meta-box .imagepicker .thumbnail {
    max-width: 100%; }
    #inferno-canvas .imagepicker .thumbnail img,
    #inferno-generator .imagepicker .thumbnail img,
    .inferno-meta-box .imagepicker .thumbnail img {
      max-width: 100%;
      display: block; }
  #inferno-canvas .font select,
  #inferno-generator .font select,
  .inferno-meta-box .font select {
    margin-bottom: 10px; }
  #inferno-canvas .googlefont-canvas,
  #inferno-generator .googlefont-canvas,
  .inferno-meta-box .googlefont-canvas {
    padding: 10px;
    border: 4px #eee solid;
    margin-top: 15px;
    font-size: 15px;
    font-family: auto; }
