/* ==========================================================================
   Global Inferno styles
   ========================================================================== */
#inferno-canvas *,
#inferno-generator *,
.inferno-meta-box * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box; }
#inferno-canvas .button.button-reset,
#inferno-generator .button.button-reset,
.inferno-meta-box .button.button-reset {
  color: #ef4040; }

/* ==========================================================================
   Inferno Canvas
   ========================================================================== */
#inferno-canvas,
#inferno-canvas * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box; }
  #inferno-canvas .clearfix,
  #inferno-canvas * .clearfix {
    clear: both; }

#inferno-canvas {
  position: relative;
  width: 900px;
  margin: 25px 0;
  /* Header
     ========================================================================== */
  /* Navigation
     ========================================================================== */
  /* Footer
     ========================================================================== */
  /* Messages
     ========================================================================== */
  /* Content with Tabs and Options
     ========================================================================== */ }
  #inferno-canvas .inferno-header {
    width: 100%;
    height: 65px;
    background: #3f3f41; }
    #inferno-canvas .inferno-header .inferno-brand {
      float: left;
      width: 150px;
      height: 65px;
      margin: 0;
      line-height: 65px;
      font-size: 18px;
      background: #ea793d;
      text-transform: uppercase;
      text-align: center;
      color: #fff; }
    #inferno-canvas .inferno-header p.inferno-version {
      float: left;
      margin: 0 25px;
      width: 700px;
      font-size: 13px;
      line-height: 65px;
      color: #9f9f9f; }
  #inferno-canvas .menu {
    width: 150px;
    float: left;
    background: #474751;
    text-transform: uppercase; }
    #inferno-canvas .menu li {
      width: 150px;
      height: 35px;
      margin-bottom: 0; }
      #inferno-canvas .menu li.ui-state-active a {
        color: #ea793d;
        border-left: 2px #46b9d6 solid; }
      #inferno-canvas .menu li.ui-state-active i {
        color: #ea793d; }
    #inferno-canvas .menu a {
      transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -ms-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      display: block;
      padding-left: 15px;
      text-decoration: none;
      color: #aaa;
      line-height: 35px;
      font-weight: 500;
      outline: none; }
      #inferno-canvas .menu a i {
        display: inline-block;
        width: 40px; }
      #inferno-canvas .menu a span {
        display: inline-block; }
      #inferno-canvas .menu a:hover {
        color: #f9f9f9; }
    #inferno-canvas .menu button.advanced-mode {
      display: block;
      height: 46px;
      width: 100%;
      margin: 0 0 25px 0;
      padding: 0;
      font-weight: 500;
      color: #aaa;
      border: none;
      text-transform: uppercase;
      background: #5c5c66;
      outline: none;
      cursor: pointer; }
      #inferno-canvas .menu button.advanced-mode span {
        display: block;
        float: left;
        width: 46px;
        height: 46px;
        background: #3f3f41;
        color: #474751; }
        #inferno-canvas .menu button.advanced-mode span i {
          transition-duration: 0.5s;
          -webkit-transition-duration: 0.5s;
          -moz-transition-duration: 0.5s;
          -ms-transition-duration: 0.5s;
          -o-transition-duration: 0.5s;
          font-size: 20px;
          line-height: 46px;
          text-align: center;
          color: #5c5c66; }
          #inferno-canvas .menu button.advanced-mode span i.fa-spin {
            color: #ea793d; }
      #inferno-canvas .menu button.advanced-mode p {
        display: block;
        float: left;
        width: 104px;
        height: 46px;
        margin: 0;
        text-align: center;
        line-height: 46px; }
  #inferno-canvas .footer {
    background: #555555;
    background: -moz-linear-gradient(top, #555555 0%, #333333 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #333333));
    background: -webkit-linear-gradient(top, #555555 0%, #333333 100%);
    background: -o-linear-gradient(top, #555555 0%, #333333 100%);
    background: -ms-linear-gradient(top, #555555 0%, #333333 100%);
    background: linear-gradient(to bottom, #555555 0%, #333333 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-top', endColorstr='$color-bottom',GradientType=0 );
    height: 44px;
    padding: 10px 20px;
    line-height: 24px; }
    #inferno-canvas .footer a {
      color: #fff; }
    #inferno-canvas .footer .button-primary {
      float: right; }
  #inferno-canvas .inferno-message {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -75px;
    width: 150px;
    height: 150px;
    padding: 30px 10px;
    display: none;
    background: url(../img/dark-trans-bg.png);
    font-size: 0px;
    text-align: center; }
    #inferno-canvas .inferno-message i {
      font-weight: 900;
      color: #037c11; }
    #inferno-canvas .inferno-message p {
      color: #ccc;
      font-weight: 900;
      line-height: 150%; }
  #inferno-canvas .content {
    width: 750px;
    padding: 25px;
    float: left;
    color: #565656;
    background: #fff; }

/* ==========================================================================
   Inferno Shortcode Generator
   ========================================================================== */
#inferno-generator {
  padding: 30px 20px; }
  #inferno-generator .shortcode-settings {
    margin-bottom: 20px; }

/* ==========================================================================
   Options Machine
   ========================================================================== */
#inferno-canvas,
#inferno-generator,
.inferno-meta-box {
  /* Fields
     ========================================================================== */
  /* Text
     ========================================================================== */
  /* Radio
     ========================================================================== */
  /* Media (images)
     ========================================================================== */
  /* Colorpicker
     ========================================================================== */
  /* Range
     ========================================================================== */
  /* Image Picker
     ========================================================================== */
  /* Font
     ========================================================================== */ }
  #inferno-canvas .field,
  #inferno-generator .field,
  .inferno-meta-box .field {
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 1px #eee solid; }
  #inferno-canvas .field-setting,
  #inferno-generator .field-setting,
  .inferno-meta-box .field-setting {
    float: left;
    width: 50%;
    padding-right: 30px; }
    #inferno-canvas .field-setting .googlefont-setting,
    #inferno-generator .field-setting .googlefont-setting,
    .inferno-meta-box .field-setting .googlefont-setting {
      padding-top: 20px; }
  #inferno-canvas .field-details,
  #inferno-generator .field-details,
  .inferno-meta-box .field-details {
    float: left;
    width: 50%; }
    #inferno-canvas .field-details .more,
    #inferno-generator .field-details .more,
    .inferno-meta-box .field-details .more {
      font-size: 11px;
      color: #777;
      font-family: georgia, serif;
      font-style: italic;
      margin-top: 10px;
      display: block; }
    #inferno-canvas .field-details .googlefont-desc,
    #inferno-generator .field-details .googlefont-desc,
    .inferno-meta-box .field-details .googlefont-desc {
      padding-top: 20px; }
  #inferno-canvas input, #inferno-canvas textarea,
  #inferno-generator input,
  #inferno-generator textarea,
  .inferno-meta-box input,
  .inferno-meta-box textarea {
    outline: none; }
  #inferno-canvas input[type=text], #inferno-canvas textarea,
  #inferno-generator input[type=text],
  #inferno-generator textarea,
  .inferno-meta-box input[type=text],
  .inferno-meta-box textarea {
    background: #eeeeee;
    background: -moz-linear-gradient(top, #eeeeee 0%, white 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, white));
    background: -webkit-linear-gradient(top, #eeeeee 0%, white 100%);
    background: -o-linear-gradient(top, #eeeeee 0%, white 100%);
    background: -ms-linear-gradient(top, #eeeeee 0%, white 100%);
    background: linear-gradient(to bottom, #eeeeee 0%, white 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-top', endColorstr='$color-bottom',GradientType=0 );
    box-shadow: 1px 1px 2px 0 #e6e6e6 inset;
    -webkit-box-shadow: 1px 1px 2px 0 #e6e6e6 inset;
    -khtml-box-shadow: 1px 1px 2px 0 #e6e6e6 inset;
    -ms-box-shadow: 1px 1px 2px 0 #e6e6e6 inset;
    -o-box-shadow: 1px 1px 2px 0 #e6e6e6 inset;
    padding: 8px 6px 6px;
    width: 100%;
    max-width: 100%;
    text-align: left !important; }
  #inferno-canvas textarea,
  #inferno-generator textarea,
  .inferno-meta-box textarea {
    height: 130px; }
  #inferno-canvas select,
  #inferno-generator select,
  .inferno-meta-box select {
    width: 100%; }
  #inferno-canvas input[type=file],
  #inferno-generator input[type=file],
  .inferno-meta-box input[type=file] {
    margin-top: 7px; }
  #inferno-canvas .radio .ui-button,
  #inferno-generator .radio .ui-button,
  .inferno-meta-box .radio .ui-button {
    background: white;
    background: -moz-linear-gradient(top, white 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(top, white 0%, #eeeeee 100%);
    background: -o-linear-gradient(top, white 0%, #eeeeee 100%);
    background: -ms-linear-gradient(top, white 0%, #eeeeee 100%);
    background: linear-gradient(to bottom, white 0%, #eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-top', endColorstr='$color-bottom',GradientType=0 );
    text-shadow: 1px 1px 1px white;
    -webkit-text-shadow: 1px 1px 1px white;
    -khtml-text-shadow: 1px 1px 1px white;
    -ms-text-shadow: 1px 1px 1px white;
    -o-text-shadow: 1px 1px 1px white;
    border: 1px #DFDFDF solid;
    margin-right: -1px;
    padding: 7px 11px 6px;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: 900; }
    #inferno-canvas .radio .ui-button:hover,
    #inferno-generator .radio .ui-button:hover,
    .inferno-meta-box .radio .ui-button:hover {
      background: #eeeeee;
      background: -moz-linear-gradient(top, #eeeeee 0%, white 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, white));
      background: -webkit-linear-gradient(top, #eeeeee 0%, white 100%);
      background: -o-linear-gradient(top, #eeeeee 0%, white 100%);
      background: -ms-linear-gradient(top, #eeeeee 0%, white 100%);
      background: linear-gradient(to bottom, #eeeeee 0%, white 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-top', endColorstr='$color-bottom',GradientType=0 ); }
  #inferno-canvas .radio .ui-corner-left,
  #inferno-generator .radio .ui-corner-left,
  .inferno-meta-box .radio .ui-corner-left {
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -khtml-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px; }
  #inferno-canvas .radio .ui-corner-right,
  #inferno-generator .radio .ui-corner-right,
  .inferno-meta-box .radio .ui-corner-right {
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -khtml-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0; }
  #inferno-canvas .radio .ui-state-active,
  #inferno-generator .radio .ui-state-active,
  .inferno-meta-box .radio .ui-state-active {
    box-shadow: 1px 1px 3px 0 #d9d9d9 inset;
    -webkit-box-shadow: 1px 1px 3px 0 #d9d9d9 inset;
    -khtml-box-shadow: 1px 1px 3px 0 #d9d9d9 inset;
    -ms-box-shadow: 1px 1px 3px 0 #d9d9d9 inset;
    -o-box-shadow: 1px 1px 3px 0 #d9d9d9 inset;
    color: #999; }
    #inferno-canvas .radio .ui-state-active:hover,
    #inferno-generator .radio .ui-state-active:hover,
    .inferno-meta-box .radio .ui-state-active:hover {
      background: #eeeeee;
      background: -moz-linear-gradient(top, #eeeeee 0%, white 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, white));
      background: -webkit-linear-gradient(top, #eeeeee 0%, white 100%);
      background: -o-linear-gradient(top, #eeeeee 0%, white 100%);
      background: -ms-linear-gradient(top, #eeeeee 0%, white 100%);
      background: linear-gradient(to bottom, #eeeeee 0%, white 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-top', endColorstr='$color-bottom',GradientType=0 ); }
  #inferno-canvas .radio .ui-helper-hidden-accessible,
  #inferno-generator .radio .ui-helper-hidden-accessible,
  .inferno-meta-box .radio .ui-helper-hidden-accessible {
    position: absolute;
    display: none; }
  #inferno-canvas .media img,
  #inferno-generator .media img,
  .inferno-meta-box .media img {
    margin-top: 10px;
    max-width: 100%;
    border: 5px #eee solid; }
  #inferno-canvas .color-picker input[type=text],
  #inferno-generator .color-picker input[type=text],
  .inferno-meta-box .color-picker input[type=text] {
    width: 80%;
    float: left; }
  #inferno-canvas .colorSelector,
  #inferno-generator .colorSelector,
  .inferno-meta-box .colorSelector {
    float: right; }
  #inferno-canvas .range .inferno-setting,
  #inferno-generator .range .inferno-setting,
  .inferno-meta-box .range .inferno-setting {
    margin-bottom: 10px; }
  #inferno-canvas .range-slider,
  #inferno-generator .range-slider,
  .inferno-meta-box .range-slider {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    box-shadow: 1px 1px 1px 0 #c6c5c5 inset;
    -webkit-box-shadow: 1px 1px 1px 0 #c6c5c5 inset;
    -khtml-box-shadow: 1px 1px 1px 0 #c6c5c5 inset;
    -ms-box-shadow: 1px 1px 1px 0 #c6c5c5 inset;
    -o-box-shadow: 1px 1px 1px 0 #c6c5c5 inset;
    position: relative;
    height: 6px;
    border: 1px #eee solid; }
    #inferno-canvas .range-slider a,
    #inferno-generator .range-slider a,
    .inferno-meta-box .range-slider a {
      background: #eeeeee;
      background: -moz-linear-gradient(top, #eeeeee 0%, white 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, white));
      background: -webkit-linear-gradient(top, #eeeeee 0%, white 100%);
      background: -o-linear-gradient(top, #eeeeee 0%, white 100%);
      background: -ms-linear-gradient(top, #eeeeee 0%, white 100%);
      background: linear-gradient(to bottom, #eeeeee 0%, white 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-top', endColorstr='$color-bottom',GradientType=0 );
      box-shadow: 0px 1px 3px 0 #9e9e9e inset;
      -webkit-box-shadow: 0px 1px 3px 0 #9e9e9e inset;
      -khtml-box-shadow: 0px 1px 3px 0 #9e9e9e inset;
      -ms-box-shadow: 0px 1px 3px 0 #9e9e9e inset;
      -o-box-shadow: 0px 1px 3px 0 #9e9e9e inset;
      border-radius: 100%;
      -webkit-border-radius: 100%;
      -khtml-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
      position: absolute;
      top: -3px;
      width: 12px;
      height: 12px;
      outline: none; }
  #inferno-canvas .imagepicker .thumbnail,
  #inferno-generator .imagepicker .thumbnail,
  .inferno-meta-box .imagepicker .thumbnail {
    max-width: 100%; }
    #inferno-canvas .imagepicker .thumbnail img,
    #inferno-generator .imagepicker .thumbnail img,
    .inferno-meta-box .imagepicker .thumbnail img {
      max-width: 100%;
      display: block; }
  #inferno-canvas ul.thumbnails.image_picker_selector li .thumbnail,
  #inferno-generator ul.thumbnails.image_picker_selector li .thumbnail,
  .inferno-meta-box ul.thumbnails.image_picker_selector li .thumbnail {
    padding: 4px; }
  #inferno-canvas ul.thumbnails.image_picker_selector li .thumbnail.selected,
  #inferno-generator ul.thumbnails.image_picker_selector li .thumbnail.selected,
  .inferno-meta-box ul.thumbnails.image_picker_selector li .thumbnail.selected {
    background: #3f3f41; }
  #inferno-canvas .font select,
  #inferno-generator .font select,
  .inferno-meta-box .font select {
    margin-bottom: 10px; }
  #inferno-canvas .googlefont-canvas,
  #inferno-generator .googlefont-canvas,
  .inferno-meta-box .googlefont-canvas {
    padding: 10px;
    border: 4px #eee solid;
    margin-top: 15px;
    font-size: 15px;
    font-family: auto; }
