@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/* ==========================================================================
   Demo canvas
   ========================================================================== */
#inferno-demo-opener {
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -khtml-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  position: fixed;
  left: 0;
  top: 100px;
  width: 50px;
  height: 50px;
  background: #ea793d url(../img/inferno-demo-opener.png) 13px center no-repeat;
  background-size: 23px 35px; }
  #inferno-demo-opener.right {
    left: auto;
    right: 0; }
  #inferno-demo-opener:hover {
    background-color: #46b9d6; }

.mfp-content #inferno-panel-form {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  position: relative;
  width: 1010px;
  margin: 0 auto;
  padding: 25px;
  background: #eee; }

/* ==========================================================================
   Global Inferno styles
   ========================================================================== */
#inferno-canvas *,
#inferno-generator *,
.inferno-meta-box *,
.inferno-menu-options * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box; }
#inferno-canvas *[role=button],
#inferno-generator *[role=button],
.inferno-meta-box *[role=button],
.inferno-menu-options *[role=button] {
  cursor: pointer; }
#inferno-canvas .button,
#inferno-canvas .button-reset,
#inferno-canvas .button-primary,
#inferno-canvas .button-upload,
#inferno-generator .button,
#inferno-generator .button-reset,
#inferno-generator .button-primary,
#inferno-generator .button-upload,
.inferno-meta-box .button,
.inferno-meta-box .button-reset,
.inferno-meta-box .button-primary,
.inferno-meta-box .button-upload,
.inferno-menu-options .button,
.inferno-menu-options .button-reset,
.inferno-menu-options .button-primary,
.inferno-menu-options .button-upload {
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -khtml-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  box-shadow: none;
  -webkit-box-shadow: none;
  -khtml-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  display: inline-block;
  height: 28px;
  padding: 0 15px 1px;
  line-height: 22px;
  border: 3px #46b9d6 solid;
  outline: none;
  background: #46b9d6;
  color: #fff;
  cursor: pointer; }
  #inferno-canvas .button:hover,
  #inferno-canvas .button-reset:hover,
  #inferno-canvas .button-primary:hover,
  #inferno-canvas .button-upload:hover,
  #inferno-generator .button:hover,
  #inferno-generator .button-reset:hover,
  #inferno-generator .button-primary:hover,
  #inferno-generator .button-upload:hover,
  .inferno-meta-box .button:hover,
  .inferno-meta-box .button-reset:hover,
  .inferno-meta-box .button-primary:hover,
  .inferno-meta-box .button-upload:hover,
  .inferno-menu-options .button:hover,
  .inferno-menu-options .button-reset:hover,
  .inferno-menu-options .button-primary:hover,
  .inferno-menu-options .button-upload:hover {
    background: #fff;
    color: #46b9d6; }
#inferno-canvas .button-primary,
#inferno-generator .button-primary,
.inferno-meta-box .button-primary,
.inferno-menu-options .button-primary {
  background: #44bea7;
  border-color: #44bea7; }
  #inferno-canvas .button-primary:hover,
  #inferno-generator .button-primary:hover,
  .inferno-meta-box .button-primary:hover,
  .inferno-menu-options .button-primary:hover {
    color: #44bea7; }
#inferno-canvas .button-reset,
#inferno-generator .button-reset,
.inferno-meta-box .button-reset,
.inferno-menu-options .button-reset {
  background: #3f3f41;
  border-color: #3f3f41; }
  #inferno-canvas .button-reset:hover,
  #inferno-generator .button-reset:hover,
  .inferno-meta-box .button-reset:hover,
  .inferno-menu-options .button-reset:hover {
    color: #3f3f41; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

/* ==========================================================================
   Inferno Canvas
   ========================================================================== */
#inferno-canvas,
#inferno-canvas *:not(.fa) {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans', sans-serif; }
  #inferno-canvas .clearfix,
  #inferno-canvas *:not(.fa) .clearfix {
    clear: both; }

#inferno-canvas {
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -khtml-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  position: relative;
  width: 960px;
  margin: 25px 0;
  background: #fff;
  opacity: 0;
  overflow: hidden;
  font-size: 16px;
  /* Header
     ========================================================================== */
  /* Navigation
     ========================================================================== */
  /* Content with Tabs and Options
     ========================================================================== */
  /* Messages
     ========================================================================== */
  /* Mobile Menu
     ========================================================================== */ }
  #inferno-canvas.show {
    opacity: 1; }
  #inferno-canvas .inferno-header {
    width: 100%;
    height: 65px;
    background: #3f3f41; }
    #inferno-canvas .inferno-header .inferno-brand {
      position: relative;
      float: left;
      width: 170px;
      height: 65px;
      margin: 0;
      line-height: 65px;
      font-size: 18px;
      font-weight: 600;
      background: #ea793d;
      text-transform: uppercase;
      font-style: normal;
      text-align: center;
      color: #fff; }
      #inferno-canvas .inferno-header .inferno-brand span {
        position: absolute;
        display: block;
        width: 100%;
        height: 12px;
        left: 0;
        bottom: 6px;
        font-size: 12px;
        font-weight: 100;
        color: #fff;
        line-height: 12px;
        opacity: 0.5; }
    #inferno-canvas .inferno-header .inferno-info {
      transition-duration: 1s;
      -webkit-transition-duration: 1s;
      -khtml-transition-duration: 1s;
      -moz-transition-duration: 1s;
      -ms-transition-duration: 1s;
      -o-transition-duration: 1s;
      float: left;
      padding: 0 25px;
      font-size: 12px;
      line-height: 65px;
      color: #9f9f9f; }
  #inferno-canvas .inferno-menu {
    width: 170px;
    float: left;
    background: #474751;
    text-transform: uppercase;
    font-size: 12px; }
    #inferno-canvas .inferno-menu > ul.ui-tabs-nav {
      margin: 15px 0; }
    #inferno-canvas .inferno-menu li {
      width: 170px;
      height: 35px;
      margin-bottom: 0; }
      #inferno-canvas .inferno-menu li.ui-state-active a {
        color: #ea793d;
        border-left: 2px #46b9d6 solid; }
      #inferno-canvas .inferno-menu li.ui-state-active i {
        color: #46b9d6; }
    #inferno-canvas .inferno-menu a {
      transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      -khtml-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -ms-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      display: block;
      padding-left: 15px;
      text-decoration: none;
      color: #aaa;
      line-height: 35px;
      font-weight: 500;
      outline: none; }
      #inferno-canvas .inferno-menu a i {
        transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        -khtml-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -ms-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        display: inline-block;
        width: 40px; }
      #inferno-canvas .inferno-menu a span {
        display: inline-block; }
      #inferno-canvas .inferno-menu a:hover {
        color: #f9f9f9; }
    #inferno-canvas .inferno-menu button.advanced-mode {
      display: block;
      height: 46px;
      width: 100%;
      margin: 0 0 25px 0;
      padding: 0;
      font-weight: 500;
      font-size: 12px;
      color: #aaa;
      border: none;
      text-transform: uppercase;
      background: #5c5c66;
      outline: none;
      cursor: pointer; }
      #inferno-canvas .inferno-menu button.advanced-mode span {
        display: block;
        float: left;
        width: 46px;
        height: 46px;
        background: #3f3f41;
        color: #474751; }
        #inferno-canvas .inferno-menu button.advanced-mode span i {
          transition-duration: 0.5s;
          -webkit-transition-duration: 0.5s;
          -khtml-transition-duration: 0.5s;
          -moz-transition-duration: 0.5s;
          -ms-transition-duration: 0.5s;
          -o-transition-duration: 0.5s;
          font-size: 20px;
          line-height: 46px;
          text-align: center;
          color: #5c5c66; }
          #inferno-canvas .inferno-menu button.advanced-mode span i.fa-spin {
            color: #ea793d; }
      #inferno-canvas .inferno-menu button.advanced-mode p {
        display: block;
        float: left;
        width: 124px;
        height: 46px;
        margin: 0;
        text-align: center;
        line-height: 46px; }
  #inferno-canvas .inferno-content {
    width: 790px;
    float: left;
    color: #565656; }
  #inferno-canvas .inferno-settings {
    padding: 25px; }
  #inferno-canvas .inferno-footer {
    width: 790px;
    height: 100px;
    float: left;
    padding: 25px;
    background: #fff;
    border-top: 2px #eeeeee solid; }
    #inferno-canvas .inferno-footer .button-primary,
    #inferno-canvas .inferno-footer .button-reset {
      float: right;
      margin-left: 20px; }
    #inferno-canvas .inferno-footer span {
      display: block;
      float: right;
      height: 28px;
      line-height: 28px;
      color: red;
      text-align: right; }
      #inferno-canvas .inferno-footer span a {
        color: red;
        text-decoration: underline;
        font-weight: 900; }
  #inferno-canvas .inferno-notice {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    -khtml-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    margin: 25px;
    padding: 15px 12px 5px;
    border-left: 4px solid #44bea7;
    font-size: 12px; }
    #inferno-canvas .inferno-notice p {
      margin-bottom: 10px; }
  #inferno-canvas .inferno-message {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -75px;
    width: 150px;
    height: 150px;
    padding: 30px 10px;
    display: none;
    background: url(../img/dark-trans-bg.png);
    font-size: 0px;
    text-align: center; }
    #inferno-canvas .inferno-message.error i {
      color: red; }
    #inferno-canvas .inferno-message i {
      font-weight: 900;
      color: #037c11; }
    #inferno-canvas .inferno-message p {
      color: #ccc;
      font-weight: 900;
      line-height: 150%; }
  #inferno-canvas #inferno-mobile-menu-toggle {
    position: absolute;
    left: 170px;
    display: none;
    width: 40px;
    height: 40px;
    margin: 12.5px 15px;
    color: #9f9f9f;
    text-decoration: none;
    outline: none; }
    #inferno-canvas #inferno-mobile-menu-toggle.active {
      color: #ddd; }
    #inferno-canvas #inferno-mobile-menu-toggle i {
      display: block;
      width: 40px;
      height: 40px;
      font-size: 30px;
      line-height: 40px;
      text-align: center; }

/* ==========================================================================
   Inferno Shortcode Generator
   ========================================================================== */
.inferno-shortcode-generator-button i.fa {
  display: block;
  line-height: 18px; }

#inferno-generator {
  position: relative;
  margin: 50px auto;
  max-width: 780px; }
  #inferno-generator > .header {
    height: 44px;
    padding: 10px 20px;
    background: #3f3f41;
    overflow: auto;
    line-height: 24px; }
    #inferno-generator > .header h1 {
      margin: 0;
      font-size: 14px;
      color: #fff; }
  #inferno-generator > .inner {
    padding: 30px 20px;
    background: #fff; }
  #inferno-generator .inferno-shortcode {
    display: none; }
  #inferno-generator .shortcode-settings {
    margin-bottom: 20px; }
  #inferno-generator .mfp-close {
    color: #999; }

/* ==========================================================================
   Menu options
   ========================================================================== */
.inferno-menu-options {
  margin-right: 10px; }
  .inferno-menu-options h4 {
    margin-bottom: 5px; }

/* ==========================================================================
   Options Machine
   ========================================================================== */
#inferno-canvas,
#inferno-generator,
.inferno-meta-box,
.inferno-menu-options {
  /* Fields
     ========================================================================== */
  /* Text
     ========================================================================== */
  /* Select
     ========================================================================== */
  /* Radio
     ========================================================================== */
  /* Checkbox
     ========================================================================== */
  /* Media (images)
     ========================================================================== */
  /* Colorpicker
     ========================================================================== */
  /* Range
     ========================================================================== */
  /* Image Picker
     ========================================================================== */
  /* Font
     ========================================================================== */
  /* Transfer (import / export)
     ========================================================================== */ }
  #inferno-canvas .field,
  #inferno-generator .field,
  .inferno-meta-box .field,
  .inferno-menu-options .field {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px #eeeeee solid;
    font-size: 12px; }
  #inferno-canvas .field-title,
  #inferno-generator .field-title,
  .inferno-meta-box .field-title,
  .inferno-menu-options .field-title {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px; }
  #inferno-canvas .field-setting,
  #inferno-generator .field-setting,
  .inferno-meta-box .field-setting,
  .inferno-menu-options .field-setting {
    float: left;
    width: 320px;
    margin-right: 50px; }
    #inferno-canvas .field-setting .inferno-setting,
    #inferno-generator .field-setting .inferno-setting,
    .inferno-meta-box .field-setting .inferno-setting,
    .inferno-menu-options .field-setting .inferno-setting {
      margin-bottom: 10px; }
    #inferno-canvas .field-setting .googlefont-setting,
    #inferno-generator .field-setting .googlefont-setting,
    .inferno-meta-box .field-setting .googlefont-setting,
    .inferno-menu-options .field-setting .googlefont-setting {
      padding-top: 20px; }
    #inferno-canvas .field-setting:after,
    #inferno-generator .field-setting:after,
    .inferno-meta-box .field-setting:after,
    .inferno-menu-options .field-setting:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0; }
  #inferno-canvas .field-details,
  #inferno-generator .field-details,
  .inferno-meta-box .field-details,
  .inferno-menu-options .field-details {
    float: left;
    width: 370px; }
    #inferno-canvas .field-details .more,
    #inferno-generator .field-details .more,
    .inferno-meta-box .field-details .more,
    .inferno-menu-options .field-details .more {
      font-size: 11px;
      color: #777;
      font-family: georgia, serif;
      font-style: italic;
      margin-top: 10px;
      display: block; }
    #inferno-canvas .field-details .googlefont-desc,
    #inferno-generator .field-details .googlefont-desc,
    .inferno-meta-box .field-details .googlefont-desc,
    .inferno-menu-options .field-details .googlefont-desc {
      padding-top: 20px; }
  #inferno-canvas input, #inferno-canvas textarea,
  #inferno-generator input,
  #inferno-generator textarea,
  .inferno-meta-box input,
  .inferno-meta-box textarea,
  .inferno-menu-options input,
  .inferno-menu-options textarea {
    outline: none; }
  #inferno-canvas input[type=text], #inferno-canvas textarea, #inferno-canvas select,
  #inferno-generator input[type=text],
  #inferno-generator textarea,
  #inferno-generator select,
  .inferno-meta-box input[type=text],
  .inferno-meta-box textarea,
  .inferno-meta-box select,
  .inferno-menu-options input[type=text],
  .inferno-menu-options textarea,
  .inferno-menu-options select {
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -khtml-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -khtml-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    display: block;
    margin-bottom: 10px;
    padding: 8px 6px 6px;
    width: 100%;
    max-width: 100%;
    text-align: left;
    border: 3px #eeeeee solid;
    color: #333;
    background: transparent; }
    #inferno-canvas input[type=text]:focus, #inferno-canvas textarea:focus, #inferno-canvas select:focus,
    #inferno-generator input[type=text]:focus,
    #inferno-generator textarea:focus,
    #inferno-generator select:focus,
    .inferno-meta-box input[type=text]:focus,
    .inferno-meta-box textarea:focus,
    .inferno-meta-box select:focus,
    .inferno-menu-options input[type=text]:focus,
    .inferno-menu-options textarea:focus,
    .inferno-menu-options select:focus {
      box-shadow: none;
      -webkit-box-shadow: none;
      -khtml-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      -o-box-shadow: none;
      border-color: #46b9d6; }
  #inferno-canvas textarea,
  #inferno-generator textarea,
  .inferno-meta-box textarea,
  .inferno-menu-options textarea {
    height: 130px; }
  #inferno-canvas select,
  #inferno-generator select,
  .inferno-meta-box select,
  .inferno-menu-options select {
    width: 100%; }
  #inferno-canvas input[type=file],
  #inferno-generator input[type=file],
  .inferno-meta-box input[type=file],
  .inferno-menu-options input[type=file] {
    margin-top: 7px; }
  #inferno-canvas .select,
  #inferno-generator .select,
  .inferno-meta-box .select,
  .inferno-menu-options .select {
    position: relative; }
    #inferno-canvas .select #inferno-generator-select,
    #inferno-canvas .select select.inferno-setting,
    #inferno-generator .select #inferno-generator-select,
    #inferno-generator .select select.inferno-setting,
    .inferno-meta-box .select #inferno-generator-select,
    .inferno-meta-box .select select.inferno-setting,
    .inferno-menu-options .select #inferno-generator-select,
    .inferno-menu-options .select select.inferno-setting {
      appearance: none;
      -webkit-appearance: none;
      -khtml-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      position: relative;
      height: 39px;
      line-height: 1;
      font-size: 14px;
      cursor: pointer; }
    #inferno-canvas .select:before,
    #inferno-generator .select:before,
    .inferno-meta-box .select:before,
    .inferno-menu-options .select:before {
      position: absolute;
      right: 10px;
      top: 1px;
      display: block;
      width: 15px;
      height: 39px;
      line-height: 39px;
      font-family: FontAwesome;
      content: "\f0d7";
      font-size: 18px; }
  #inferno-canvas .radio .ui-button,
  #inferno-generator .radio .ui-button,
  .inferno-meta-box .radio .ui-button,
  .inferno-menu-options .radio .ui-button {
    border: 3px #eeeeee solid;
    margin-right: -3px;
    padding: 7px 11px 6px;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: 900; }
  #inferno-canvas .radio .ui-corner-left,
  #inferno-generator .radio .ui-corner-left,
  .inferno-meta-box .radio .ui-corner-left,
  .inferno-menu-options .radio .ui-corner-left {
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -khtml-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -ms-border-radius: 4px 0 0 4px;
    -o-border-radius: 4px 0 0 4px; }
  #inferno-canvas .radio .ui-corner-right,
  #inferno-generator .radio .ui-corner-right,
  .inferno-meta-box .radio .ui-corner-right,
  .inferno-menu-options .radio .ui-corner-right {
    border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    -khtml-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -ms-border-radius: 0 4px 4px 0;
    -o-border-radius: 0 4px 4px 0; }
  #inferno-canvas .radio .ui-state-active,
  #inferno-generator .radio .ui-state-active,
  .inferno-meta-box .radio .ui-state-active,
  .inferno-menu-options .radio .ui-state-active {
    margin-left: 3px;
    margin-right: 0;
    border-color: #44bea7;
    background: #44bea7;
    color: #fff; }
    #inferno-canvas .radio .ui-state-active.ui-corner-left,
    #inferno-generator .radio .ui-state-active.ui-corner-left,
    .inferno-meta-box .radio .ui-state-active.ui-corner-left,
    .inferno-menu-options .radio .ui-state-active.ui-corner-left {
      margin-left: 0; }
  #inferno-canvas .radio .ui-helper-hidden-accessible,
  #inferno-generator .radio .ui-helper-hidden-accessible,
  .inferno-meta-box .radio .ui-helper-hidden-accessible,
  .inferno-menu-options .radio .ui-helper-hidden-accessible {
    position: absolute;
    display: none; }
  #inferno-canvas .checkbox .ui-button,
  #inferno-generator .checkbox .ui-button,
  .inferno-meta-box .checkbox .ui-button,
  .inferno-menu-options .checkbox .ui-button {
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -khtml-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -khtml-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    position: relative;
    display: inline-block;
    height: 28px;
    padding: 0 15px 0 30px;
    border: 3px #ea793d solid;
    background: #ea793d;
    line-height: 22px;
    color: #fff;
    text-transform: uppercase; }
    #inferno-canvas .checkbox .ui-button:before,
    #inferno-generator .checkbox .ui-button:before,
    .inferno-meta-box .checkbox .ui-button:before,
    .inferno-menu-options .checkbox .ui-button:before {
      border-radius: 100%;
      -webkit-border-radius: 100%;
      -khtml-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
      position: absolute;
      left: 2px;
      top: 2px;
      display: block;
      width: 18px;
      height: 18px;
      content: "";
      background: #ddd; }
    #inferno-canvas .checkbox .ui-button:hover,
    #inferno-generator .checkbox .ui-button:hover,
    .inferno-meta-box .checkbox .ui-button:hover,
    .inferno-menu-options .checkbox .ui-button:hover {
      background: #fff;
      color: #ea793d; }
  #inferno-canvas .checkbox .ui-state-active,
  #inferno-generator .checkbox .ui-state-active,
  .inferno-meta-box .checkbox .ui-state-active,
  .inferno-menu-options .checkbox .ui-state-active {
    padding: 0 30px 0 15px;
    border: 3px #44bea7 solid;
    background: #44bea7; }
    #inferno-canvas .checkbox .ui-state-active:before,
    #inferno-generator .checkbox .ui-state-active:before,
    .inferno-meta-box .checkbox .ui-state-active:before,
    .inferno-menu-options .checkbox .ui-state-active:before {
      left: auto;
      right: 2px;
      top: 2px; }
    #inferno-canvas .checkbox .ui-state-active:hover,
    #inferno-generator .checkbox .ui-state-active:hover,
    .inferno-meta-box .checkbox .ui-state-active:hover,
    .inferno-menu-options .checkbox .ui-state-active:hover {
      color: #44bea7; }
  #inferno-canvas .media img,
  #inferno-generator .media img,
  .inferno-meta-box .media img,
  .inferno-menu-options .media img {
    margin-top: 10px;
    max-width: 100%;
    border: 5px #eeeeee solid; }
  #inferno-canvas .color-picker input[type=text],
  #inferno-generator .color-picker input[type=text],
  .inferno-meta-box .color-picker input[type=text],
  .inferno-menu-options .color-picker input[type=text] {
    width: 80%;
    float: left; }
  #inferno-canvas .sp-replacer,
  #inferno-generator .sp-replacer,
  .inferno-meta-box .sp-replacer,
  .inferno-menu-options .sp-replacer {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    float: right;
    padding: 0;
    border: 3px #eeeeee solid; }
    #inferno-canvas .sp-replacer .sp-preview,
    #inferno-generator .sp-replacer .sp-preview,
    .inferno-meta-box .sp-replacer .sp-preview,
    .inferno-menu-options .sp-replacer .sp-preview {
      width: 33px;
      height: 33px;
      border: none; }
    #inferno-canvas .sp-replacer .sp-dd,
    #inferno-generator .sp-replacer .sp-dd,
    .inferno-meta-box .sp-replacer .sp-dd,
    .inferno-menu-options .sp-replacer .sp-dd {
      display: none; }
  #inferno-canvas .range,
  #inferno-generator .range,
  .inferno-meta-box .range,
  .inferno-menu-options .range {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    background: #eeeeee;
    overflow: hidden; }
    #inferno-canvas .range .inferno-setting,
    #inferno-generator .range .inferno-setting,
    .inferno-meta-box .range .inferno-setting,
    .inferno-menu-options .range .inferno-setting {
      transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      -khtml-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -ms-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      border-radius: 0;
      -webkit-border-radius: 0;
      -khtml-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      width: 100px;
      height: 28px;
      margin: 0;
      padding: 0;
      float: left;
      background: #46b9d6;
      border: 3px #46b9d6 solid;
      text-align: center;
      line-height: 23px;
      color: #fff; }
      #inferno-canvas .range .inferno-setting:focus,
      #inferno-generator .range .inferno-setting:focus,
      .inferno-meta-box .range .inferno-setting:focus,
      .inferno-menu-options .range .inferno-setting:focus {
        background: #fff;
        color: #46b9d6; }
  #inferno-canvas .range-slider,
  #inferno-generator .range-slider,
  .inferno-meta-box .range-slider,
  .inferno-menu-options .range-slider {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    position: relative;
    float: left;
    width: 190px;
    height: 5px;
    margin: 12px;
    border: 1px #eeeeee solid;
    background: #fff; }
    #inferno-canvas .range-slider a,
    #inferno-generator .range-slider a,
    .inferno-meta-box .range-slider a,
    .inferno-menu-options .range-slider a {
      border-radius: 100%;
      -webkit-border-radius: 100%;
      -khtml-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
      position: absolute;
      top: -4px;
      width: 11px;
      height: 11px;
      margin: 0 0 0 -5px;
      background: #5c5c66;
      outline: none; }
  #inferno-canvas .imagepicker .thumbnail,
  #inferno-generator .imagepicker .thumbnail,
  .inferno-meta-box .imagepicker .thumbnail,
  .inferno-menu-options .imagepicker .thumbnail {
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -khtml-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    max-width: 100%;
    margin: 0 5px 5px 0;
    padding: 4px;
    cursor: pointer; }
    #inferno-canvas .imagepicker .thumbnail:not(.selected):hover,
    #inferno-generator .imagepicker .thumbnail:not(.selected):hover,
    .inferno-meta-box .imagepicker .thumbnail:not(.selected):hover,
    .inferno-menu-options .imagepicker .thumbnail:not(.selected):hover {
      background: #3f3f41; }
    #inferno-canvas .imagepicker .thumbnail.selected,
    #inferno-generator .imagepicker .thumbnail.selected,
    .inferno-meta-box .imagepicker .thumbnail.selected,
    .inferno-menu-options .imagepicker .thumbnail.selected {
      background: #44bea7; }
    #inferno-canvas .imagepicker .thumbnail img,
    #inferno-generator .imagepicker .thumbnail img,
    .inferno-meta-box .imagepicker .thumbnail img,
    .inferno-menu-options .imagepicker .thumbnail img {
      max-width: 100%;
      display: block; }
  #inferno-canvas .googlefont-canvas,
  #inferno-generator .googlefont-canvas,
  .inferno-meta-box .googlefont-canvas,
  .inferno-menu-options .googlefont-canvas {
    padding: 10px;
    border: 4px #eeeeee solid;
    margin-top: 15px;
    font-size: 15px;
    font-family: auto; }
  #inferno-canvas .transfer span,
  #inferno-generator .transfer span,
  .inferno-meta-box .transfer span,
  .inferno-menu-options .transfer span {
    color: red; }
    #inferno-canvas .transfer span a,
    #inferno-generator .transfer span a,
    .inferno-meta-box .transfer span a,
    .inferno-menu-options .transfer span a {
      color: red;
      text-decoration: underline;
      font-weight: 900; }

/* ==========================================================================
   Meta box fix for Options Machine
   ========================================================================== */
.inferno-meta-box .field-details {
  float: none;
  overflow: hidden;
  width: auto; }

/* Colorpicker fix
   ========================================================================== */
.sp-container {
  border-radius: 4px !important;
  -webkit-border-radius: 4px !important;
  -khtml-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -ms-border-radius: 4px !important;
  -o-border-radius: 4px !important;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  -khtml-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  border: none !important; }
  .sp-container .sp-picker-container {
    border: none; }
