#menu-header div.menu > ul,
#menu-header ul.menu {
  position: relative;
  z-index: 9999;
  margin: 0;
  padding: 0; }
  #menu-header div.menu > ul li,
  #menu-header ul.menu li {
    position: relative;
    display: block;
    float: left; }
    #menu-header div.menu > ul li:hover ul.sub-menu,
    #menu-header ul.menu li:hover ul.sub-menu {
      opacity: 1;
      -webkit-opacity: 1;
      -khtml-opacity: 1;
      -ms-opacity: 1;
      -o-opacity: 1;
      /*@include transition-delay(0ms);*/
      visibility: visible; }
#menu-header ul.sub-menu {
  opacity: 0;
  -webkit-opacity: 0;
  -khtml-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  /*@include transition-duration(500ms);
  @include transition-delay(300ms);*/
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  visibility: hidden; }
  #menu-header ul.sub-menu li {
    float: none; }
