@mixin appearance($setting) {
    appearance: $setting;
    -webkit-appearance: $setting;
    -khtml-appearance: $setting;
    -moz-appearance: $setting;
    -ms-appearance: $setting;
    -o-appearance: $setting;
}

@mixin box-sizing($setting) {
    box-sizing: $setting;
    -webkit-box-sizing: $setting;
    -khtml-box-sizing: $setting;
    -moz-box-sizing: $setting;
    -ms-box-sizing: $setting;
    -o-box-sizing: $setting;
}

@mixin gradient($color-top, $color-bottom) {
    background: $color-top;
    background: -moz-linear-gradient(top, $color-top 0%, $color-bottom 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color-top), color-stop(100%,$color-bottom));
    background: -webkit-linear-gradient(top, $color-top 0%,$color-bottom 100%);
    background: -o-linear-gradient(top, $color-top 0%,$color-bottom 100%);
    background: -ms-linear-gradient(top, $color-top 0%,$color-bottom 100%);
    background: linear-gradient(to bottom, $color-top 0%,$color-bottom 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-top', endColorstr='$color-bottom',GradientType=0 );
}

@mixin transition($property) {
    transition: $property;
    -webkit-transition: $property;
    -khtml-transition: $property;
    -moz-transition: $property;
    -ms-transition: $property;
    -o-transition: $property;
}

@mixin transition-duration($time) {
    transition-duration: $time;
    -webkit-transition-duration: $time;
    -khtml-transition-duration: $time;
    -moz-transition-duration: $time;
    -ms-transition-duration: $time;
    -o-transition-duration: $time;
}

@mixin box-shadow($properties) {
    box-shadow: $properties;
    -webkit-box-shadow: $properties;
    -khtml-box-shadow: $properties;
    -moz-box-shadow: $properties;
    -ms-box-shadow: $properties;
    -o-box-shadow: $properties;
}

@mixin text-shadow($properties) {
    text-shadow: $properties;
    -webkit-text-shadow: $properties;
    -khtml-text-shadow: $properties;
    -moz-text-shadow: $properties;
    -ms-text-shadow: $properties;
    -o-text-shadow: $properties;
}

@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -khtml-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}

@mixin box-orient($direction) {
    box-orient: $direction;
    -webkit-box-orient: $direction;
    -khtml-box-orient: $direction;
    -moz-box-orient: $direction;
    -ms-box-orient: $direction;
    -o-box-orient: $direction;
}

@mixin box-ordinal-group($order) {
    box-ordinal-group: $order;
    -webkit-box-ordinal-group: $order;
    -khtml-box-ordinal-group: $order;
    -moz-box-ordinal-group: $order;
    -ms-box-ordinal-group: $order;
    -o-box-ordinal-group: $order;
}

@mixin transform($properties) {
    transform: translate3d($properties);
    -webkit-transform: translate3d($properties);
    -khtml-transform: translate3d($properties);
    -moz-transform: translate3d($properties);
    -ms-transform: translate3d($properties);
    -o-transform: translate3d($properties);
}