ul.portfolio-filter {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  ul.portfolio-filter li {
    float: left; }
    ul.portfolio-filter li a {
      display: block;
      padding: 5px 10px; }
