/* ========================================================================
  mixins
======================================================================== */
/* ========================================================================
  stacked
======================================================================== */
.stacked {
  padding: 30px 0;
  border-bottom: 1px #EDEDED solid; }
  .stacked.noborder {
    border: none !important; }

/* ========================================================================
  divider
======================================================================== */
.divider {
  width: 100%;
  margin: 15px 0 30px;
  border-bottom: 1px #eeeeee solid; }

/* ========================================================================
  circle
======================================================================== */
.inferno-circle {
  display: block;
  position: relative; }
  .inferno-circle .dummy {
    padding-top: 100%; }
  .inferno-circle .radius {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .inferno-circle .element {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -khtml-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .inferno-circle .element > img {
      border-radius: 100%;
      -webkit-border-radius: 100%;
      -khtml-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%; }
    .inferno-circle .element * {
      max-height: 100%;
      max-width: 100%; }
    .inferno-circle .element .inferno-icon {
      height: 100%; }

/* ========================================================================
  icons (powered by font awesome)
======================================================================== */
.inferno-icon {
  transition: color 0.3s, background 0.3s;
  -webkit-transition: color 0.3s, background 0.3s;
  -khtml-transition: color 0.3s, background 0.3s;
  -moz-transition: color 0.3s, background 0.3s;
  -ms-transition: color 0.3s, background 0.3s;
  -o-transition: color 0.3s, background 0.3s;
  text-align: center;
  font-size: 2em;
  color: #000;
  background: #eeeeee; }

/* ========================================================================
  buttons
======================================================================== */
.inferno-button {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  position: relative;
  display: inline-block;
  padding: 4px 15px;
  border: none; }
  .inferno-button:hover {
    cursor: pointer;
    text-decoration: none; }
  .inferno-button.purple {
    background: #7a2c7a;
    background: -moz-linear-gradient(top, #7a2c7a 0%, #351330 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7a2c7a), color-stop(100%, #351330));
    background: -webkit-linear-gradient(top, #7a2c7a 0%, #351330 100%);
    background: -o-linear-gradient(top, #7a2c7a 0%, #351330 100%);
    background: -ms-linear-gradient(top, #7a2c7a 0%, #351330 100%);
    background: linear-gradient(to bottom, #7a2c7a 0%, #351330 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-top', endColorstr='$color-bottom',GradientType=0 );
    color: #fff; }
    .inferno-button.purple:hover {
      background: #351330;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
      -khtml-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
      -ms-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
      -o-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5); }
    .inferno-button.purple:active {
      background: #351330;
      background: -moz-linear-gradient(top, #351330 0%, #7a2c7a 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #351330), color-stop(100%, #7a2c7a));
      background: -webkit-linear-gradient(top, #351330 0%, #7a2c7a 100%);
      background: -o-linear-gradient(top, #351330 0%, #7a2c7a 100%);
      background: -ms-linear-gradient(top, #351330 0%, #7a2c7a 100%);
      background: linear-gradient(to bottom, #351330 0%, #7a2c7a 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-top', endColorstr='$color-bottom',GradientType=0 );
      box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.5);
      -khtml-box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.5);
      -moz-box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.5);
      -ms-box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.5);
      -o-box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.5);
      color: #eeeeee; }
  .inferno-button.orange {
    background: #f05b23;
    background: -moz-linear-gradient(top, #f05b23 0%, #d86d02 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f05b23), color-stop(100%, #d86d02));
    background: -webkit-linear-gradient(top, #f05b23 0%, #d86d02 100%);
    background: -o-linear-gradient(top, #f05b23 0%, #d86d02 100%);
    background: -ms-linear-gradient(top, #f05b23 0%, #d86d02 100%);
    background: linear-gradient(to bottom, #f05b23 0%, #d86d02 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-top', endColorstr='$color-bottom',GradientType=0 );
    color: #fff; }
    .inferno-button.orange:hover {
      background: #D86D02;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
      -khtml-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
      -ms-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
      -o-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5); }
    .inferno-button.orange:active {
      background: #d86d02;
      background: -moz-linear-gradient(top, #d86d02 0%, #f05b23 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d86d02), color-stop(100%, #f05b23));
      background: -webkit-linear-gradient(top, #d86d02 0%, #f05b23 100%);
      background: -o-linear-gradient(top, #d86d02 0%, #f05b23 100%);
      background: -ms-linear-gradient(top, #d86d02 0%, #f05b23 100%);
      background: linear-gradient(to bottom, #d86d02 0%, #f05b23 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-top', endColorstr='$color-bottom',GradientType=0 );
      box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.5);
      -khtml-box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.5);
      -moz-box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.5);
      -ms-box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.5);
      -o-box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.5);
      color: #eeeeee; }
  .inferno-button.yellow {
    background: #fccb50;
    background: -moz-linear-gradient(top, #fccb50 0%, #f3b71b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fccb50), color-stop(100%, #f3b71b));
    background: -webkit-linear-gradient(top, #fccb50 0%, #f3b71b 100%);
    background: -o-linear-gradient(top, #fccb50 0%, #f3b71b 100%);
    background: -ms-linear-gradient(top, #fccb50 0%, #f3b71b 100%);
    background: linear-gradient(to bottom, #fccb50 0%, #f3b71b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-top', endColorstr='$color-bottom',GradientType=0 );
    color: #fff; }
    .inferno-button.yellow:hover {
      background: #f3b71b;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
      -khtml-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
      -ms-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
      -o-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5); }
    .inferno-button.yellow:active {
      background: #f3b71b;
      background: -moz-linear-gradient(top, #f3b71b 0%, #eaae15 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3b71b), color-stop(100%, #eaae15));
      background: -webkit-linear-gradient(top, #f3b71b 0%, #eaae15 100%);
      background: -o-linear-gradient(top, #f3b71b 0%, #eaae15 100%);
      background: -ms-linear-gradient(top, #f3b71b 0%, #eaae15 100%);
      background: linear-gradient(to bottom, #f3b71b 0%, #eaae15 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color-top', endColorstr='$color-bottom',GradientType=0 );
      box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.5);
      -khtml-box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.5);
      -moz-box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.5);
      -ms-box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.5);
      -o-box-shadow: inset 0 0 12px 0 rgba(0, 0, 0, 0.5);
      color: #eeeeee; }

/* ========================================================================
  skillbar
======================================================================== */
.inferno-skillbar {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  position: relative;
  width: 100%;
  height: 35px;
  line-height: 35px;
  background: #eeeeee; }
  .inferno-skillbar .skill {
    position: absolute;
    height: 35px;
    font-weight: 600;
    color: #fff; }
    .inferno-skillbar .skill span {
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -khtml-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      display: block;
      height: 35px;
      padding: 0 20px;
      background: #666; }
  .inferno-skillbar .percent {
    position: absolute;
    right: 15px;
    height: 35px;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.5); }
  .inferno-skillbar .bar {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    position: absolute;
    height: 35px;
    background: #777; }

/* ========================================================================
  staff
======================================================================== */
.inferno-staff-member {
  background: #eeeeee; }
  .inferno-staff-member.circle {
    padding: 25px 0 0; }
    .inferno-staff-member.circle .profile-img > a {
      border-radius: 100%;
      -webkit-border-radius: 100%;
      -khtml-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
      transition-delay: 0s;
      -webkit-transition-delay: 0s;
      -khtml-transition-delay: 0s;
      -ms-transition-delay: 0s;
      -moz-transition-delay: 0s;
      -o-transition-delay: 0s;
      left: 50%;
      top: 50%;
      width: 64px;
      height: 64px;
      line-height: 24px;
      padding: 20px 0;
      margin: -32px 0 0 -32px;
      font-size: 24px; }
  .inferno-staff-member .profile-img {
    position: relative;
    overflow: hidden; }
    .inferno-staff-member .profile-img img {
      width: 100%;
      display: block; }
    .inferno-staff-member .profile-img > a {
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -khtml-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      transition: bottom 0.3s, left 0.3s, top 0.3s, opacity 0.3s;
      -webkit-transition: bottom 0.3s, left 0.3s, top 0.3s, opacity 0.3s;
      -khtml-transition: bottom 0.3s, left 0.3s, top 0.3s, opacity 0.3s;
      -moz-transition: bottom 0.3s, left 0.3s, top 0.3s, opacity 0.3s;
      -ms-transition: bottom 0.3s, left 0.3s, top 0.3s, opacity 0.3s;
      -o-transition: bottom 0.3s, left 0.3s, top 0.3s, opacity 0.3s;
      position: absolute;
      bottom: -36px;
      background: #fefefe;
      color: #333;
      font-size: 16px;
      line-height: 16px;
      text-align: center;
      width: 36px;
      height: 36px;
      margin-left: -18px;
      padding: 10px;
      opacity: 0; }
      .inferno-staff-member .profile-img > a:hover {
        text-decoration: none !important; }
      .inferno-staff-member .profile-img > a.orange {
        background: #f05b23;
        color: #fff; }
    .inferno-staff-member .profile-img > a:nth-child(2) {
      transition-delay: 0.1s;
      -webkit-transition-delay: 0.1s;
      -khtml-transition-delay: 0.1s;
      -ms-transition-delay: 0.1s;
      -moz-transition-delay: 0.1s;
      -o-transition-delay: 0.1s; }
    .inferno-staff-member .profile-img > a:nth-child(3) {
      transition-delay: 0.2s;
      -webkit-transition-delay: 0.2s;
      -khtml-transition-delay: 0.2s;
      -ms-transition-delay: 0.2s;
      -moz-transition-delay: 0.2s;
      -o-transition-delay: 0.2s; }
    .inferno-staff-member .profile-img > a:nth-child(4) {
      transition-delay: 0.3s;
      -webkit-transition-delay: 0.3s;
      -khtml-transition-delay: 0.3s;
      -ms-transition-delay: 0.3s;
      -moz-transition-delay: 0.3s;
      -o-transition-delay: 0.3s; }
    .inferno-staff-member .profile-img > a:nth-child(5) {
      transition-delay: 0.4s;
      -webkit-transition-delay: 0.4s;
      -khtml-transition-delay: 0.4s;
      -ms-transition-delay: 0.4s;
      -moz-transition-delay: 0.4s;
      -o-transition-delay: 0.4s; }
    .inferno-staff-member .profile-img > a:nth-child(6) {
      transition-delay: 0.5s;
      -webkit-transition-delay: 0.5s;
      -khtml-transition-delay: 0.5s;
      -ms-transition-delay: 0.5s;
      -moz-transition-delay: 0.5s;
      -o-transition-delay: 0.5s; }
    .inferno-staff-member .profile-img > a:nth-child(7) {
      transition-delay: 0.6s;
      -webkit-transition-delay: 0.6s;
      -khtml-transition-delay: 0.6s;
      -ms-transition-delay: 0.6s;
      -moz-transition-delay: 0.6s;
      -o-transition-delay: 0.6s; }
    .inferno-staff-member .profile-img.inferno-circle {
      width: 90%;
      margin-bottom: 25px;
      overflow: visible; }
      .inferno-staff-member .profile-img.inferno-circle .element {
        border: 10px #fff solid; }
  .inferno-staff-member .about {
    overflow: hidden;
    position: relative;
    padding: 10px;
    background: #333;
    color: #fff; }
    .inferno-staff-member .about .name {
      font-size: 1.2em;
      line-height: 1.2;
      margin-bottom: 6px; }
    .inferno-staff-member .about .position {
      font-size: 1em;
      color: #ccc;
      font-style: italic; }
    .inferno-staff-member .about .phone {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 30px;
      background: #444; }
      .inferno-staff-member .about .phone .icon-phone {
        transition: color 0.3s;
        -webkit-transition: color 0.3s;
        -khtml-transition: color 0.3s;
        -moz-transition: color 0.3s;
        -ms-transition: color 0.3s;
        -o-transition: color 0.3s;
        position: absolute;
        top: 50%;
        width: 100%;
        height: 16px;
        margin-top: -8px;
        line-height: 16px;
        background: #444;
        text-align: center; }
      .inferno-staff-member .about .phone .edge {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -khtml-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        width: 10px;
        height: 10px;
        position: absolute;
        background: #444;
        left: -4px;
        top: 50%;
        margin-top: -5px; }
      .inferno-staff-member .about .phone .number {
        transition: right 0.5s;
        -webkit-transition: right 0.5s;
        -khtml-transition: right 0.5s;
        -moz-transition: right 0.5s;
        -ms-transition: right 0.5s;
        -o-transition: right 0.5s;
        position: absolute;
        right: -200px;
        top: 50%;
        height: 12px;
        line-height: 12px;
        margin-top: -56px;
        padding: 50px 15px;
        white-space: nowrap;
        color: #ccc;
        background: #444;
        width: auto; }
        .inferno-staff-member .about .phone .number .transition {
          width: 15px;
          position: absolute;
          bottom: 0;
          top: 0;
          right: 100%;
          background: url(../img/flame/phone-transition.png) repeat-y; }
      .inferno-staff-member .about .phone:hover .number {
        right: 100%; }
      .inferno-staff-member .about .phone:hover .icon-phone.orange {
        color: #f05b23; }
  .inferno-staff-member:hover .profile-img > a {
    bottom: 5%;
    opacity: 0.8; }

/* ========================================================================
  pricing tables & boxes
======================================================================== */
table.pricing-box {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.25);
  -khtml-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.25);
  position: relative;
  width: 100%;
  background: #fff;
  text-align: center;
  font-size: 13px;
  margin-bottom: 15px;
  border-spacing: 0; }
  table.pricing-box > br {
    display: none; }
  table.pricing-box:hover {
    box-shadow: inset 0 2px 7px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 2px 7px 0 rgba(0, 0, 0, 0.25);
    -khtml-box-shadow: inset 0 2px 7px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 2px 7px 0 rgba(0, 0, 0, 0.25);
    -ms-box-shadow: inset 0 2px 7px 0 rgba(0, 0, 0, 0.25);
    -o-box-shadow: inset 0 2px 7px 0 rgba(0, 0, 0, 0.25); }
  table.pricing-box .feature {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 20px; }
    table.pricing-box .feature span {
      position: relative;
      top: -2px;
      height: 20px;
      line-height: 20px;
      display: inline-block;
      margin: 0 auto;
      padding: 0 20px;
      background: #555;
      color: #fff;
      font-size: 10px;
      text-transform: uppercase;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px; }
  table.pricing-box .price {
    width: 100%;
    background: #2F2F2F;
    padding: 10px 0;
    font-weight: 600;
    font-size: 180%;
    color: #fff;
    line-height: normal !important; }
    table.pricing-box .price .currency, table.pricing-box .price .decimal, table.pricing-box .price .info {
      display: inline-block;
      white-space: 2px;
      line-height: 180% !important;
      vertical-align: top;
      font-size: 60%; }
    table.pricing-box .price .currency, table.pricing-box .price .info {
      color: #606060; }
    table.pricing-box .price .currency {
      margin-right: 5px;
      font-weight: 100; }
    table.pricing-box .price .decimal {
      margin-left: 3px;
      font-weight: 100;
      text-decoration: underline; }
    table.pricing-box .price .info {
      font-size: 50%;
      line-height: 210% !important;
      font-weight: 100; }
  table.pricing-box tr {
    font-size: 110%;
    line-height: 160%;
    color: #555; }
    table.pricing-box tr > br {
      display: none; }
    table.pricing-box tr td {
      padding: 8px 0; }
    table.pricing-box tr th {
      padding: 25px 0;
      font-size: 180%;
      line-height: 150%;
      font-weight: 100; }
    table.pricing-box tr td.dark, table.pricing-box tr th.dark {
      background: #2F2F2F;
      color: #fff; }
    table.pricing-box tr:before, table.pricing-box tr:after {
      content: none; }
    table.pricing-box tr:first-of-type td.dark:first-of-type,
    table.pricing-box tr:first-of-type th.dark:first-of-type,
    table.pricing-box tr:first-of-type .price:first-of-type {
      border-top-left-radius: 5px;
      -webkit-border-top-left-radius: 5px;
      -khtml-border-top-left-radius: 5px;
      -moz-border-top-left-radius: 5px;
      -ms-border-top-left-radius: 5px;
      -o-border-top-left-radius: 5px; }
    table.pricing-box tr:first-of-type td.dark:last-of-type,
    table.pricing-box tr:first-of-type th.dark:last-of-type,
    table.pricing-box tr:first-of-type .price:last-of-type {
      border-top-right-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -khtml-border-top-right-radius: 5px;
      -moz-border-top-right-radius: 5px;
      -ms-border-top-right-radius: 5px;
      -o-border-top-right-radius: 5px; }
    table.pricing-box tr:last-of-type td.dark:first-of-type,
    table.pricing-box tr:last-of-type th.dark:first-of-type,
    table.pricing-box tr:last-of-type .price:first-of-type {
      border-bottom-left-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      -khtml-border-bottom-left-radius: 5px;
      -moz-border-bottom-left-radius: 5px;
      -ms-border-bottom-left-radius: 5px;
      -o-border-bottom-left-radius: 5px; }
    table.pricing-box tr:last-of-type td.dark:last-of-type,
    table.pricing-box tr:last-of-type th.dark:last-of-type,
    table.pricing-box tr:last-of-type .price:last-of-type {
      border-bottom-right-radius: 5px;
      -webkit-border-bottom-right-radius: 5px;
      -khtml-border-bottom-right-radius: 5px;
      -moz-border-bottom-right-radius: 5px;
      -ms-border-bottom-right-radius: 5px;
      -o-border-bottom-right-radius: 5px; }
  table.pricing-box.bordered td, table.pricing-box.bordered th {
    border-right: 1px #eeeeee solid;
    border-bottom: 1px #eeeeee solid; }
    table.pricing-box.bordered td.dark, table.pricing-box.bordered th.dark {
      border-right: 1px #000 solid;
      border-bottom: 1px #000 solid; }
    table.pricing-box.bordered td:last-of-type, table.pricing-box.bordered th:last-of-type {
      border-right: none; }
  table.pricing-box.bordered tr:last-of-type td {
    border-bottom: none; }
  table.pricing-box.featured {
    box-shadow: 0 2px 7px 3px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 2px 7px 3px rgba(0, 0, 0, 0.25);
    -khtml-box-shadow: 0 2px 7px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 2px 7px 3px rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 0 2px 7px 3px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 0 2px 7px 3px rgba(0, 0, 0, 0.25);
    border: 3px #555 solid;
    padding-top: 10px;
    padding-bottom: 10px; }
    table.pricing-box.featured:before {
      border-bottom-left-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      -khtml-border-bottom-left-radius: 3px;
      -moz-border-bottom-left-radius: 3px;
      -ms-border-bottom-left-radius: 3px;
      -o-border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      -webkit-border-bottom-right-radius: 3px;
      -khtml-border-bottom-right-radius: 3px;
      -moz-border-bottom-right-radius: 3px;
      -ms-border-bottom-right-radius: 3px;
      -o-border-bottom-right-radius: 3px;
      content: attr(data-featured);
      position: relative;
      top: -8px;
      padding: 1px 7px 4px;
      border: 3px #555 solid;
      color: #fff; }
      table.pricing-box.featured:before .feature {
        top: -3px; }
    table.pricing-box.featured:hover {
      box-shadow: inset 0 2px 7px 3px rgba(0, 0, 0, 0.25);
      -webkit-box-shadow: inset 0 2px 7px 3px rgba(0, 0, 0, 0.25);
      -khtml-box-shadow: inset 0 2px 7px 3px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: inset 0 2px 7px 3px rgba(0, 0, 0, 0.25);
      -ms-box-shadow: inset 0 2px 7px 3px rgba(0, 0, 0, 0.25);
      -o-box-shadow: inset 0 2px 7px 3px rgba(0, 0, 0, 0.25); }
  table.pricing-box.purple .feature span {
    background: #9b339b; }
  table.pricing-box.purple .price {
    color: #9b339b; }
  table.pricing-box.purple.featured {
    border-color: #9b339b; }
    table.pricing-box.purple.featured:before {
      border-color: #9b339b;
      background: #9b339b; }
  table.pricing-box.yellow .feature span {
    background: #f3b71b; }
  table.pricing-box.yellow .price {
    color: #f3b71b; }
  table.pricing-box.yellow.featured {
    border-color: #f3b71b; }
  table.pricing-box .one-half,
  table.pricing-box .one-third,
  table.pricing-box .two-thirds,
  table.pricing-box .three-fourths,
  table.pricing-box .one-fourth,
  table.pricing-box .one-fifth,
  table.pricing-box .two-fifths,
  table.pricing-box .three-fifths,
  table.pricing-box .four-fifths,
  table.pricing-box .one-sixth,
  table.pricing-box .five-sixths {
    margin: 0 !important;
    float: none !important; }
    table.pricing-box .one-half.last,
    table.pricing-box .one-third.last,
    table.pricing-box .two-thirds.last,
    table.pricing-box .three-fourths.last,
    table.pricing-box .one-fourth.last,
    table.pricing-box .one-fifth.last,
    table.pricing-box .two-fifths.last,
    table.pricing-box .three-fifths.last,
    table.pricing-box .four-fifths.last,
    table.pricing-box .one-sixth.last,
    table.pricing-box .five-sixths.last {
      border: 0; }
    table.pricing-box .one-half .dark,
    table.pricing-box .one-third .dark,
    table.pricing-box .two-thirds .dark,
    table.pricing-box .three-fourths .dark,
    table.pricing-box .one-fourth .dark,
    table.pricing-box .one-fifth .dark,
    table.pricing-box .two-fifths .dark,
    table.pricing-box .three-fifths .dark,
    table.pricing-box .four-fifths .dark,
    table.pricing-box .one-sixth .dark,
    table.pricing-box .five-sixths .dark {
      width: 100.1%; }
      table.pricing-box .one-half .dark.last,
      table.pricing-box .one-third .dark.last,
      table.pricing-box .two-thirds .dark.last,
      table.pricing-box .three-fourths .dark.last,
      table.pricing-box .one-fourth .dark.last,
      table.pricing-box .one-fifth .dark.last,
      table.pricing-box .two-fifths .dark.last,
      table.pricing-box .three-fifths .dark.last,
      table.pricing-box .four-fifths .dark.last,
      table.pricing-box .one-sixth .dark.last,
      table.pricing-box .five-sixths .dark.last {
        border-right: 0; }
  table.pricing-box .one-half {
    width: 50%; }
  table.pricing-box .one-third {
    width: 33.33%; }
  table.pricing-box .two-thirds {
    width: 66.66%; }
  table.pricing-box .one-fourth {
    width: 25%; }
  table.pricing-box .three-fourths {
    width: 75%; }
  table.pricing-box .one-fifth {
    width: 20%; }
  table.pricing-box .two-fifths {
    width: 40%; }
  table.pricing-box .three-fifths {
    width: 60%; }
  table.pricing-box .four-fifths {
    width: 80%; }
  table.pricing-box .one-sixth {
    width: 16.66%; }
  table.pricing-box .five-sixths {
    width: 83.33%; }
  table.pricing-box sup {
    vertical-align: super;
    font-size: 0.7em;
    line-height: 100%; }
