#slideshow {
    height: 440px;
    width: 960px;
    margin: 0 auto;

    .slider {
        background: #000;
        position: absolute;
        width: 100%;
        height: 508px;
        top: 0;
        left: 0;
        z-index: 1;
        overflow: hidden;
        border-bottom: 8px #e5e5e5 solid;

        .slides > li {
            position: relative;
            height: 500px;
        }

        .flex-control-nav {
            position: absolute;
            z-index: 11;
            bottom: 60px;
            left: 50%;
            margin-left: -480px;
            display: block;
            background: #f05b23;
            height: 20px;
            width: 960px;
            padding: 5px 0;
            text-align: center;
            line-height: 10px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;

            li {
                width: 10px;
                height: 10px;
                display: inline-block;
                margin: 0 3px;
                zoom: 1;
                cursor: pointer;

                a {
                    display: block;
                    width: 10px;
                    height: 10px;
                    background: #aa4c28;
                    text-indent: -3000em;
                    border-radius: 99px;
                    box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 0.2);

                    &.flex-active {
                        background: #fff;
                    }
                }
            }
        }

        .flex-caption {
            position: absolute;
            z-index: 99;
            left: 50%;
            bottom: 60px;
            width: 960px;
            margin-left: -480px;
            background: url(../img/slider/dark-trans-bg.png);

            .caption-inner {
                padding: 30px 50px;
                color: #fff;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
                font-size: 15px;
                font-weight: 100;

                h1 {
                    font-size: 38px;
                    line-height: 40px;
                    font-weight: 600;
                    color: #fff;
                    margin: 0 0 10px 0;
                }

                p {
                    line-height: 24px;
                }
            }
        }
    }
}


.work-slider {
    .flex-prev,
    .flex-next {
        opacity: 0;
        -webkit-transition: opacity 0.15s;
        -moz-transition: opacity 0.15s;
        -o-transition: opacity 0.15s;
        -ms-transition: opacity 0.15s;
        transition: opacity 0.15s;
    }

    &:hover {
        .flex-prev,
        .flex-next {
            opacity: 1;
        }
    }

    .flex-control-nav {
        position: absolute;
        width: 100%;
        top: 100%;
        margin-top: 10px;
        text-align: center;
        line-height: 10px;

        li {
            width: 10px;
            height: 10px;
            display: inline-block;
            margin: 0 3px;
            zoom: 1;
            cursor: pointer;

            a {
                display: block;
                width: 10px;
                height: 10px;
                background: #e6e6e6;
                text-indent: -3000em;
                border-radius: 99px;
                box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);

                &.flex-active {
                    background: #F05B23;
                }
            }
        }
    }
}


/* fixes */
.slider {

    ul.slides {
        list-style-type: none !important;
    }

    .slides > li {
        margin-bottom: 0 !important;
    }

    img {
        display: block !important;
    }
}

.flex-prev,
.flex-next {
    background: url(../img/slider/slideshow-prev.png) no-repeat;
    display: block;
    width: 55px;
    height: 55px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -27px;
    cursor: pointer;

    &:hover span {
        width: 112px;
        opacity: 1;
    }

    span {
        position: absolute;
        top: 0;
        left: 0;
        background: url(../img/slider/slideshow-prev-hover.png) no-repeat;
        display: block;
        width: 67px;
        height: 55px;
        padding: 0 12px 0 0;
        line-height: 55px;
        color: #777;
        font-weight: 900;
        text-align: right;
        opacity: 0;

        -webkit-transition: opacity 0.15s, width 0.15s;
        -moz-transition: opacity 0.15s, width 0.15s;
        -o-transition: opacity 0.15s, width 0.15s;
        -ms-transition: opacity 0.15s, width 0.15s;
        transition: opacity 0.15s, width 0.15s;
    }
}


.flex-direction-nav {
    height: 0 !important;
    list-style-type: none !important;

    li {
        margin: 0 !important;

        .flex-next {
            background: url(../img/slider/slideshow-next.png) no-repeat;
            left: auto;
            right: 0;

            span {
                left: auto;
                right: 0;
                background: url(../img/slider/slideshow-next-hover.png) top right no-repeat;
                padding: 0 0 0 12px;
                text-align: left;
            }
        }
    }
}





@media only screen and (min-width: 768px) and (max-width: 959px) {

    #slideshow {

        &.default {
            width: 750px;
            height: 350px;

            .slider {
                width: 750px;
                height: 350px;
                margin-left: -375px;

                .slides > li {
                    height: 350px; 
                }
            }
        }

        &.extended {
            width: 750px;
            height: 290px;

            .slider {
                height: 358px;

                .slides > li {
                    height: 350px; 
                }
            }
        }

        .slider {
            .flex-caption, .flex-control-nav {
                width: 750px;
                margin-left: -375px;
                font-size: 14px;
            }

            .caption-inner {
                padding: 20px 30px;

                h1 {
                    font-size: 25px;
                    line-height: 28px;
                    margin-bottom: 4px;
                }
            }

            .flex-direction-nav {
                display: none;
            }
        }


    }
}



