.infernal-society {
  word-spacing: 0px; }
  .infernal-society a {
    margin: 0 2px;
    display: inline-block;
    text-decoration: none;
    border-bottom: none;
    transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s; }
    .infernal-society a img {
      display: block; }
    .infernal-society a:hover {
      text-decoration: none;
      border-bottom: none; }
  .infernal-society.aligncenter {
    text-align: center; }
  .infernal-society.alignleft {
    float: left; }
  .infernal-society.alignright {
    float: right;
    text-align: right; }
  .infernal-society.hover-fadein a {
    opacity: 0.4; }
    .infernal-society.hover-fadein a:hover {
      opacity: 1; }
  .infernal-society.hover-fadeout a {
    opacity: 1; }
    .infernal-society.hover-fadeout a:hover {
      opacity: 0.4; }
