/* ==========================================================================
   Structure
   ========================================================================== */
/* Columns
   ========================================================================== */
.one-half,
.one-third,
.two-thirds,
.three-fourths,
.one-fourth,
.one-fifth,
.two-fifths,
.three-fifths,
.four-fifths,
.one-sixth,
.five-sixths {
  margin-right: 4% !important;
  margin-bottom: 20px !important;
  float: left !important; }
  .one-half.last,
  .one-third.last,
  .two-thirds.last,
  .three-fourths.last,
  .one-fourth.last,
  .one-fifth.last,
  .two-fifths.last,
  .three-fifths.last,
  .four-fifths.last,
  .one-sixth.last,
  .five-sixths.last {
    margin-right: 0 !important;
    clear: right !important; }

.one-half {
  width: 48%; }

.one-third {
  width: 30.66%; }

.two-thirds {
  width: 65.33%; }

.one-fourth {
  width: 22%; }

.three-fourths {
  width: 74%; }

.one-fifth {
  width: 16.8%; }

.two-fifths {
  width: 37.6%; }

.three-fifths {
  width: 58.4%; }

.four-fifths {
  width: 79.2%; }

.one-sixth {
  width: 13.33%; }

.five-sixths {
  width: 82.67%; }
