@import 'mixins';

/* ==========================================================================
   1. common
   ========================================================================== */

.inferno-preview, 
.inferno-preview * {
 position: relative;
 z-index: 0;
 display: block;

  img {
    width: 100%;
    height: auto;
  }
}

/* ==========================================================================
   2. fold effect
   ========================================================================== */

.csstransforms3d {
  .inferno-preview.fold,
  .inferno-preview.fold .panel, 
  .inferno-preview.fold .panel .overlay {
    @include transition-duration(100ms);
    @include transform(translateX(0) rotateY(0));
    @include transition-timing-function(cubic-bezier(.42, 0, 1, 1));
    @include transform-origin(left center);
    // @include perspective(500px);
    transition-property: transform, opacity, box-shadow;
    -webkit-transition-property: -webkit-transform, opacity, box-shadow;
    -khtml-transition-property: -khtml-transform, opacity, box-shadow;
    -moz-transition-property: -moz-transform, opacity, box-shadow;
    -ms-transition-property: -ms-transform, opacity, box-shadow;
    -o-transition-property: -o-transform, opacity, box-shadow;
  }

  .inferno-preview.fold {
    .overlay {
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      opacity: 0;
      background: linear-gradient(left, transparent,rgba(0, 0, 0, 0.15));
      background: -khtml-linear-gradient(left, transparent,rgba(0, 0, 0, 0.15));
      background: -webkit-linear-gradient(left, transparent,rgba(0, 0, 0, 0.15));
    }

    &:hover {
      .panel2 {
        @include transform(rotateY(-70deg));
      }

      .panel3 {
        @include transform(translateX(-131%) rotateY(70deg));
      }

      .overlay {
        opacity: 0.8;
      }
    }

    .panel {
      @include transition-timing-function(cubic-bezier(0, 0, .58, 1));
      @include transform-style(preserve-3d);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 25%;
      background-position: 0 50%;
      overflow: hidden;
      background-size: 400% 100%;
    }

    .panel1 .overlay {
      left: auto;
      right: 0;
      width: 15%;
    }

    .panel2 {
      left: 25%;
      background-position: -100% 50%;

      .overlay {
        background: linear-gradient(left, rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.4));
        background: -khtml-linear-gradient(left, rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.4));
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0),rgba(255, 255, 255, 0.4));
      }
    }

    .panel3 {
      @include transform-origin(100% 0);
      left: 50%;
      background-position: -200% 50%;

      .overlay {
        background: linear-gradient(left, transparent,rgba(0, 0, 0, 0.2) 10%,rgba(0, 0, 0, 0.6));
        background: -khtml-linear-gradient(left, transparent,rgba(0, 0, 0, 0.2) 10%,rgba(0, 0, 0, 0.6));
        background: -webkit-linear-gradient(left, transparent,rgba(0, 0, 0, 0.2) 10%,rgba(0, 0, 0, 0.6));
      }
    }

    .panel4 {
      @include transition-timing-function(cubic-bezier(.6, 0, 1, 1));
      left: 75%;
      background-position: -300% 50%;
    }
  }
}

.csstransforms3d .inferno-preview.fold:hover .panel4 {
  @include transform(translateX(-132.3%) rotateY(-70deg));
  transition-timing-function: cubic-bezier(0, 0.2, .58, 1); 
  -webkit-transition-timing-function: cubic-bezier(0, 0.2, .58, 1); 
  -khtml-transition-timing-function: cubic-bezier(0, 0.2, .58, 1); 
  -moz-transition-timing-function: cubic-bezier(0, 0.2, .58, 1); 
  -ms-transition-timing-function: cubic-bezier(0, 0.2, .58, 1); 
  -o-transition-timing-function: cubic-bezier(0, 0.2, .58, 1); 
}

.csstransforms3d .inferno-preview.fold .panel3 .overlay {
  background: linear-gradient(right, transparent,rgba(0, 0, 0, 0.6));
  background: -khtml-linear-gradient(right, transparent,rgba(0, 0, 0, 0.6));
  background: -webkit-linear-gradient(right, transparent,rgba(0, 0, 0, 0.6));
}

.csstransforms3d .inferno-preview.fold .panel4shadow {
  left: 75%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.3);
}

.csstransforms3d .inferno-preview.fold:hover .panel4shadow {
  opacity: 1;
  -webkit-transform: translateX(-123%) rotateY(-70deg);
  -khtml-transform: translateX(-123%) rotateY(-70deg);
  -moz-transform:translateX(-123%) rotateY(-70deg);
  -ms-transform:translateX(-123%) rotateY(-70deg);
  -o-transform:translateX(-123%) rotateY(-70deg);
  transform:translateX(-123%) rotateY(-70deg);
}

.csstransforms3d .inferno-preview.fold .fallback {
  z-index: -1;
  visibility: hidden;
}


/* ==========================================================================
   3. flip effect
   ========================================================================== */

/* -- make sure to declare a default for every property that you want animated -- */
/* -- general styles, including Y axis rotation -- */

.csstransforms3d .inferno-preview.flip {
  // @include perspective(600px);

  .front, .back {
    position: relative;
    z-index: 2;

    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;

    -moz-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;

    -ms-transform: rotateX(0deg) rotateY(0deg);
    -ms-transform-style: preserve-3d;
    -ms-backface-visibility: hidden;

    -o-transform: rotateX(0deg) rotateY(0deg);
    -o-transform-style: preserve-3d;
    -o-backface-visibility: hidden;

    transform: rotateX(0deg) rotateY(0deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;

    /* -- transition is the magic sauce for animation -- */
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }

  .back {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-179.9999deg); /* todo: fix this */
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-179.9999deg);
  }

  &:hover .front {
    z-index: 2;

    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  &:hover .back {
    z-index: 3;

    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);    
    -ms-transform: rotateX(0deg) rotateY(0deg);  
    -o-transform: rotateX(0deg) rotateY(0deg);  
    transform: rotateX(0deg) rotateY(0deg);  
  }
}
