/* ========================================================================
    SocialCounter
======================================================================== */

.inferno-widget-socialcounter {
    .counter-box {
        padding-bottom: 10px;
        text-align: center;
        border: 1px #f1f1f1 solid;

        &.width-divide-by-2 {
            width: 50%;
            float: left;
        }

        &.twitter {
            border-top: 9px #73d0f1 solid;
        }

        &.facebook {
            border-top: 9px #5578ae solid;
        }

        p {
            margin-bottom: 0;
        }

        .network {
            text-transform: uppercase;
        }

        .fans {
            font-size: 0.75rem;
            color: #bbb7b8;
        }

        .count {
            font-weight: 900;
            color: #666;
        }
    }
}