/* ========================================================================
    SocialCounter
======================================================================== */
.inferno-widget-socialcounter .counter-box {
  padding-bottom: 10px;
  text-align: center;
  border: 1px #f1f1f1 solid; }
  .inferno-widget-socialcounter .counter-box.width-divide-by-2 {
    width: 50%;
    float: left; }
  .inferno-widget-socialcounter .counter-box.width-divide-by-3 {
    width: 33.33%;
    float: left; }
  .inferno-widget-socialcounter .counter-box.twitter {
    border-top: 9px #73d0f1 solid; }
  .inferno-widget-socialcounter .counter-box.youtube {
    border-top: 9px red solid; }
  .inferno-widget-socialcounter .counter-box.facebook {
    border-top: 9px #5578ae solid; }
  .inferno-widget-socialcounter .counter-box p {
    margin-bottom: 0; }
  .inferno-widget-socialcounter .counter-box .network {
    text-transform: uppercase; }
  .inferno-widget-socialcounter .counter-box .fans {
    font-size: 0.75rem;
    color: #bbb7b8; }
  .inferno-widget-socialcounter .counter-box .count {
    font-weight: 900;
    color: #666; }
